{% extends "base.html" %}

{% load tags %}

{% block content %}



<div class="uk-container uk-width-expand ">
  


    <div  uk-grid class="uk-height-1-1">
        <div class="uk-width-auto" style=" padding-left: 0px;">

          {% include 'cloud_side_bar.html' %}
        </div>
    
        <div class="uk-width-expand uk-margin-medium-top">
          {% include 'notifications.html' %}

            {% include 'libraries/control_library_header.html' %}

            <div class="scrollable_side" uk-height-viewport="offset-top: true">
            <table class="uk-table uk-table-divider">
                <thead>
                  <tr>
                    <th class="uk-table-shrink">Type</th>
                    <th class="uk-table-expand">Name</th>
                    <th class="uk-width-small">Actions</th>
                  </tr>
                </thead>
                <tbody>


                {% for key,value in content.items%}
           
                  <tr>
                    <td>
                        {% if value == False %}
                        <span class="uk-badge">Object</span>
                        {% else %}
                        <span class="uk-badge">Library</span>
                        {% endif %}
                    </td>
                    {% if value == False %}
                    <td class="text-foreground"><a href="#" onclick="page_load('{% url 'control_element' id=key %}');event.preventDefault();" class="library_item_a">{{key}}</a></td>
                    {% else %}
                    <td class="text-foreground"><a href="#" onclick="page_load('{% url 'control_library' id=key %}');event.preventDefault();" class="library_item_a">{{key}}</a></td>
                    {% endif %}
                    <td>

                        <div class="uk-navbar-right">
                            <ul class="uk-navbar-nav uk-margin-medium-right" style="gap: 0.5rem;">
                    
                            {% if value == False %}

                            <a href="#" onclick="page_load('{% url 'control_element' id=key %}');event.preventDefault();" class="uk-button uk-button-default" style="width: 1px;" uk-tooltip="Home"><span uk-icon="home"></span></a>
                            


                            {% yc_demo as yc_demo %}
                            {% if not yc_demo %}
                            <a href="#" onclick="page_load('{% url 'control_element_commits' id=key %}');event.preventDefault();" class="uk-button uk-button-default" style="width: 1px;" uk-tooltip="Commits"><span uk-icon="push"></span></a>
                            <a href="#" onclick="page_load('{% url 'control_element_runs' id=key %}');event.preventDefault();" class="uk-button uk-button-default" style="width: 1px;" uk-tooltip="Run History"><span uk-icon="server"></span></a>
                            <a href="#" onclick="page_load('{% url 'control_element_dependency' id=key %}');event.preventDefault();" class="uk-button uk-button-default" style="width: 1px;" uk-tooltip="Dependency"><span uk-icon="thumbnails"></span></a>
                            <a href="#" onclick="page_load('{% url 'control_element_settings' id=key %}');event.preventDefault();" class="uk-button uk-button-default" style="width: 1px;" uk-tooltip="Settings"><span uk-icon="settings"></span></a>
                            {% endif %}

                            {% else %}
                            <a href="#" onclick="page_load('{% url 'control_library' id=key %}');event.preventDefault();" class="uk-button uk-button-default" style="width: 1px;" uk-tooltip="Home"><span uk-icon="home"></span></a>

                            {% yc_demo as yc_demo %}
                            {% if not yc_demo %}
                            <a href="#" onclick="page_load('{% url 'control_library_settings' id=key %}');event.preventDefault();" class="uk-button uk-button-default" style="width: 1px;" uk-tooltip="Settings"><span uk-icon="settings"></span></a>
                            {% endif %}

                            {% endif %}
                    
        
                            </ul>
                        </div>


                    </td>
                  </tr>

                {% endfor %}



                </tbody>
              </table>
            
            
              <div>
                <div uk-grid class="uk-margin-small-bottom uk-margin-medium-top">
                    <div class="uk-width-expand">
                    <h1 class="uk-h2 uk-margin text-foreground">Readme</h1>
                    </div>
        
                </div>

        
                <div class="custom_code_block uk-card">
                  <div class="custom_code_block_code">
        <div class="highlight"><pre class="chroma text-muted-foreground"><pre style="text-wrap: wrap;
            text-align: justify;">
            
<b class="custom_code_highlight_title">Importing:</b>
<pre><code class="language-python" style="font-size: 12px;">{{code}}</code></pre>
{{readme|safe}}


                            
        </pre></div>
                  </div>
              </div>
            </div>
        </div>
        </div>
      </div>
    
</div>








{% endblock content %}