{% extends "base.html" %}

{% load tags %}

{% block content %}



<div class="uk-container uk-width-expand ">
    <div  uk-grid class="uk-height-1-1">
        <div class="uk-width-auto" style=" padding-left: 0px;">

          {% include 'cloud_side_bar.html' %}
        </div>
    
        <div class="uk-width-expand uk-margin-medium-top">

            {% include 'libraries/control_library_header.html' %}

            <div class="scrollable_side" uk-height-viewport="offset-top: true">
            <div uk-grid>


            <div class="uk-child-width-2-2 uk-grid-small uk-grid-match uk-width-2-3 uk-margin-medium-top" uk-grid>
                <div>
                  <div class="uk-card uk-card-body uk-card-default">
                    <h3 class="uk-card-title">Latest</h3>
                    <p class="uk-margin">

                        <div class="custom_code_block uk-card">
                            <div class="custom_code_block_code">
                  <div class="highlight"><pre class="chroma"><pre><code class="language-python">{{using_code}}</code></pre></div>
                            </div>
                        </div>

                        <ul class="uk-navbar-nav uk-margin-small-top">

          



                            <a  href="#" onclick="page_load('{% url 'control_library' id=control_library %}');event.preventDefault();" class="uk-button uk-button-default"><span uk-icon="file-text" class="uk-margin-small-right"></span>Go to Docs</a>
                    

                    
                            </ul>

                    </p>
                  </div>
                </div>

                {% if not no_version %}
                {% for v in the_versions %}
                <div>
                    <div class="uk-card uk-card-body uk-card-default">
                      <h3 class="uk-card-title">{{v.version}}</h3>
                      <p class="uk-margin">

                        <span class="uk-badge" style="height: 35px;"><span uk-icon="user" class="uk-margin-small-left uk-margin-small-right"></span><span class="uk-margin-small-right">{{v.user}}</span></span>
                        <span class="uk-badge" style="height: 35px;"><span uk-icon="calendar" class="uk-margin-small-left uk-margin-small-right"></span><span class="uk-margin-small-right">{{v.date}}</span></span>

                        <div class="custom_code_block uk-card">
                            <div class="custom_code_block_code">
                  <div class="highlight"><pre class="chroma"><pre  style="text-wrap: wrap;
                    text-align: justify;"><code class="language-markdown">{{v.release_note}}</code></pre></div>
                            </div>
                        </div>                         
                          <div class="custom_code_block uk-card">
                              <div class="custom_code_block_code">
                    <div class="highlight"><pre class="chroma"><pre><code class="language-python">{{v.using_code}}</code></pre></div>
                              </div>
                          </div>
  
                          <ul class="uk-navbar-nav uk-margin-small-top">
  
            
  
  
  
                              <a href="#" onclick="page_load('{% url 'control_library' id=v.link %}');event.preventDefault();" class="uk-button uk-button-default"><span uk-icon="file-text" class="uk-margin-small-right"></span>Go to Docs</a>
                              <a href="{% url 'control_library_version_delete' id=control_library version=v.version %}" class="uk-button uk-button-default"><span uk-icon="trash" class="uk-margin-small-right"></span>Delete</a>
                      
  
  
                      
                              </ul>
  
                      </p>
                    </div>
                  </div>
                  {% endfor %}

                  {% else %}


                  <div class="custom_page_header_top_bottom_margin">
                      <span class="custom_page_header_text">- No Version Found</span>
                  </div>
      
      
                  {% endif %}


              </div>



              <div class="uk-width-1-3 uk-margin-medium-top">

                {% if full_write_access %}
                <div class=" uk-card uk-card-body uk-card-default">
                    <h3 class="uk-card-title">Create New Version</h3>
                    <p class="uk-margin">
                        <form method="POST" action="{% url 'control_library_version_create' id=control_library %}" id="versionForm">
                            <fieldset class="uk-fieldset">
   
                              <div class="uk-margin">
                                <input
                                  class="uk-input"
                                  type="text"
                                  placeholder="Tag"
                                  aria-label="Tag"
                                  id="version" 
                                  name="version"
                                  required
                                />
                              </div>
                           

                              <div class="flex flex-col gap-3">
 
                                <button class="uk-button uk-button-primary uk-width-1-1" type="submit" id="load1">Create</button>
                              </div>
                    
                            </fieldset>
                          </form>
                    </p>
                  </div>
                {% endif %}
            </div>

            <script>
            $(document).ready(function() {
                $('#load1').on('click', function(event) {
                    event.preventDefault(); // Prevent default form submission
                    var $this = $(this);
                    var loadingText = '<i class="fa fa-circle-o-notch fa-spin"></i> Writing Release Notes, Wait';
                    
                    // Change button state
                    if ($this.html().indexOf('fa-spin') === -1) { // Check if not already spinning
                        $this.data('original-text', $this.html());
                        $('.spinner-border', $this).removeClass('d-none');
                        $('.button-text', $this).text('Writing Release Notes, Wait');
                        $this.prop('disabled', true);
                        
                        // Form submission via AJAX
                        $.ajax({
                            type: "POST",
                            url: $('#versionForm').attr('action'), // Assuming action is set correctly in your form
                            data: $('#versionForm').serialize(), // Serialized form data
                            success: function(response) {
                                // Optionally handle response here if needed
                                location.reload(); // Refresh page upon success
                            },
                            error: function(response) {
                                // Optionally handle error
                                console.log('Error:', response);
                                $this.prop('disabled', false);
                                $('.spinner-border', $this).addClass('d-none');
                                $('.button-text', $this).text($this.data('original-text'));
                            }
                        });
                    }
                });
            });
            </script>                
              </div>
              
            </div> 
            </div>
        </div>
      </div>
    
</div>








{% endblock content %}






































