{% extends "base.html" %}

{% load tags %}

{% block content %}
<div class="d-flex cloud_left_section">
{% include 'cloud_side_bar.html' %}

</div>
<div class="w-100 custom_right_side">

    <div class="custom_page_header_bottom_margin">
        <span class="custom_page_header_text">
            {% if have_upper %}
            <a href="#" class="back_a" onclick="page_load('{% url 'control_library' id=the_upper %}');event.preventDefault();">< | </a>
            {% endif %}
            <span class="custom_page_header_text_bold">{{control_library}}</span></span></span>
    </div>



<table class="table table-hover align-middle library_table">
    <thead>
      <tr>

        <th scope="col">Name</th>
          <th scope="col">Action</th>

      </tr>
    </thead>
    <tbody>
        {% for key,value in content.items%}
        <tr>

            {% if value == False %}
            <td><a href="#" onclick="page_load('{% url 'control_element' id=key %}');event.preventDefault();" class="library_item_a">{{key}}</a></td>
            
            {% else %}
            <td><a href="#" onclick="page_load('{% url 'control_library' id=key %}');event.preventDefault();" class="library_item_a"><img class="library_item me-1 ms-1" src="/static/images/library_fill_dark.svg"/>
                {{key}}</a></td>
            
            {% endif %}
            <td style="padding: 1rem 1rem;"><a href="#" onclick="page_load('{% url 'control_element' id=key %}');event.preventDefault();">Go</a></td>

          </tr>

        {% endfor %}


    </tbody>
  </table>

    <div>
        <div class="custom_page_header_top_bottom_margin">
            <span class="custom_page_header_text">Readme</span>
        </div>


        <div class="custom_code_block">
            <div class="custom_code_block_code">
                <div class="highlight">
                    <pre class="chroma" style="text-wrap: wrap;">
                        <code class="language-html" data-lang="html">
<b>Importing:</b>
{{code}}

{{readme|safe}}

<b>Content:</b>
{% for key,value in all_scopes%}
<b>{{key}}</b>: {{value}}<br>
{% endfor %}

                        </code>
                    </pre>
                </div>
            </div>
        </div>

    </div>

    <a href="{% url 'regenerate_readme' id=control_library %}" class="btn btn-lg custom_button mt-5">Regenerate</a>

</div>



{% endblock content %}