

{% extends "base.html" %}

{% load tags %}

{% block content %}



<div class="uk-container uk-width-expand ">
    <div  uk-grid class="uk-height-1-1">
        <div class="uk-width-auto" style=" padding-left: 0px;">

          {% include 'cloud_side_bar.html' %}
        </div>
    
        <div class="uk-width-expand uk-margin-medium-top">

            {% include 'libraries/control_element_header.html' %}

            <div class="scrollable_side" uk-height-viewport="offset-top: true">

              <a href="#" onclick="page_load('{% url 'control_element_runs' id=control_library_with_version %}');event.preventDefault();" class="uk-button uk-button-default uk-margin-medium-top" ><span uk-icon="chevron-left" class="uk-margin-auto-right"></span> Back</a>
        

              <div class=" uk-grid-small  uk-margin-medium-top" uk-grid>
                <div class="uk-width-1-3">
                  <div class="uk-card   uk-card-body uk-card-default">
                    <h3 class="uk-card-title">Metrics</h3>
                    <p class="uk-margin">

                      <button Server class="uk-button  uk-button-default uk-width-1-1  uk-margin-small-bottom" style="  display: flex;
                      align-items: center;
                      justify-content: flex-start; /* Align items to the left */" >
                        <span uk-icon="file-text" class="uk-margin-small-right uk-icon"></span>
                        {{run.cpu_usage}} Core CPU
                    </button>

                    <button Server class="uk-button  uk-button-default uk-width-1-1  uk-margin-small-bottom" style="  display: flex;
                    align-items: center;
                    justify-content: flex-start; /* Align items to the left */" >
                      <span uk-icon="file-text" class="uk-margin-small-right uk-icon"></span>
                      {{run.memory_usage}} MB Ram
                  </button>

                  <button Server class="uk-button  uk-button-primary uk-width-1-1 " style="  display: flex;
                  align-items: center;
                  justify-content: flex-start; /* Align items to the left */" >
                    <span uk-icon="clock" class="uk-margin-small-right uk-icon"></span>
                    {{run.elapsed_time}}s
                </button>



                    </p>
                  </div>
                </div>

  


                <div class="uk-width-1-3">
                  <div class="uk-card   uk-card-body uk-card-default">
                    <h3 class="uk-card-title">Execution</h3>
                    <p class="uk-margin">

                      <button Server class="uk-button  uk-button-default uk-width-1-1  uk-margin-small-bottom" style="  display: flex;
                      align-items: center;
                      justify-content: flex-start; /* Align items to the left */" >
                        <span uk-icon="file-text" class="uk-margin-small-right uk-icon"></span>
                        {{run.os_name}}
                    </button>

                    <button Server class="uk-button  uk-button-default uk-width-1-1  uk-margin-small-bottom" style="  display: flex;
                    align-items: center;
                    justify-content: flex-start; /* Align items to the left */" >
                      <span uk-icon="file-text" class="uk-margin-small-right uk-icon"></span>
                      Python {{run.python_version}}
                  </button>

                  <button Server class="uk-button  uk-button-default uk-width-1-1 " style="  display: flex;
                  align-items: center;
                  justify-content: flex-start; /* Align items to the left */" >
                    <span uk-icon="user" class="uk-margin-small-right uk-icon"></span>
                    Executor {{run.username}}
                </button>



                    </p>
                  </div>
                </div>

                <div class="uk-width-1-3">
                  <div class="uk-card   uk-card-body uk-card-default">
                    <h3 class="uk-card-title">Records</h3>
                    <p class="uk-margin">

                      <button Server class="uk-button  uk-button-default uk-width-1-1  uk-margin-small-bottom" style="  display: flex;
                      align-items: center;
                      justify-content: flex-start; /* Align items to the left */" >
                        <span uk-icon="clock" class="uk-margin-small-right uk-icon"></span>
                        {{run.time}}
                    </button>

                    <button Server class="uk-button  uk-button-default uk-width-1-1  uk-margin-small-bottom" style="  display: flex;
                    align-items: center;
                    justify-content: flex-start; /* Align items to the left */" >
                      <span uk-icon="server" class="uk-margin-small-right uk-icon"></span>
                      {{run.version_short}}
                  </button>

                  <button Server class="uk-button  uk-button-primary uk-width-1-1 " style="  display: flex;
                  align-items: center;
                  justify-content: flex-start; /* Align items to the left */" >
                    <span uk-icon="crosshairs" class="uk-margin-small-right uk-icon"></span>
                    Status {{run.type}}
                </button>



                    </p>
                  </div>
                </div>

                <progress
                id="js-progressbar"
                class="uk-progress uk-margin-medium-top"
                {% if run.type == 'Failed' %}value="0"{% else %}value="100"{% endif %}
                max="100"
              ></progress>


              <div class="uk-width-1-2">
                <div class="uk-card   uk-card-body uk-card-default">
                  <h3 class="uk-card-title">Arguments</h3>
                  <p class="uk-margin">

                    <div class="custom_code_block uk-card">
                      <div class="custom_code_block_code">
                          <div class="highlight"><pre><code class="language-python">{{run.params}}</code></pre></div>
                      </div>
                  </div>


                  </p>
                </div>
              </div>

              <div class="uk-width-1-2">
                <div class="uk-card   uk-card-body uk-card-default">
                  <h3 class="uk-card-title">Exception</h3>
                  <p class="uk-margin">

                    <div class="custom_code_block uk-card">
                      <div class="custom_code_block_code">
                          <div class="highlight"><pre><code class="language-python">{% if run.exception %}{{run.exception_log}}{% else %}No Exception Found{% endif %}</code></pre></div>
                      </div>
                  </div>

                  </p>
                </div>
              </div>


              </div>


            <div>



                
              </div>
              
            </div> 
            </div>
        </div>
      </div>
    
</div>








{% endblock content %}




















































