

{% extends "base.html" %}

{% load tags %}

{% block content %}



<div class="uk-container uk-width-expand ">
    <div  uk-grid class="uk-height-1-1">
        <div class="uk-width-auto" style=" padding-left: 0px;">

          {% include 'cloud_side_bar.html' %}
        </div>
    
        <div class="uk-width-expand uk-margin-medium-top">

            {% include 'libraries/control_element_header.html' %}

            <div class="scrollable_side">
            <div>

              {% if cpu_usage_analyses != True %}
            
              <div class="custom_page_header_top_bottom_margin">
                  <span class="custom_page_header_text">Please enable Usage Analyses for catching new runs.</span>
              </div>            
              {% endif %}

              <table class="uk-table uk-table-divider">
                <thead>
                  <tr>
                    <th scope="">Time</th>
                    <th scope="uk-table-shrink">Version</th>
                    <th scope="">CPU Usage (one core)</th>
                    <th scope="">Memory Usage</th>
                    <th scope="">Elapsed Time</th>
                    
                    <th scope="">Type</th>
                    <th scope="uk-width-small">Actions</th>                    
                  </tr>
                </thead>
                <tbody>




                  {% for run in get_last_runs%}
           
                  <tr>
                    <td>{{run.data.time}}</td>
                    <td><a href="#" onclick="page_load('{% url 'control_element_runs_analyze' id=control_library run_sha=run.id %}');event.preventDefault();" class="library_item_a">
                      <span class="uk-badge">{{run.data.version_short}}</span></a></td>
                  
                    <td>{{run.data.cpu_usage}}%</td>
                    <td>{{run.data.memory_usage}}mb</td>
                    <td>{{run.data.elapsed_time}}s</td>

                    <td><span class="uk-badge {% if run.data.type == 'Failed' %}uk-badge-danger{% else %}uk-badge-primary{% endif %}">{{run.data.type}}</span></td>
                    
                    <td><button onclick="page_load('{% url 'control_element_runs_analyze' id=control_library run_sha=run.id %}');event.preventDefault();" class="uk-button uk-button-primary uk-margin-small-right"><span uk-icon="crosshairs" class="uk-margin-small-right"></span>Analyze</span
                      ></button></td>
                  </tr>

                {% endfor %}



                </tbody>
              </table>
            
            


                
              </div>
              
            </div> 
            </div>
        </div>
      </div>
    
</div>








{% endblock content %}
































