{% extends "base.html" %}

{% load tags %}

{% block content %}
<div class="d-flex cloud_left_section">
{% include 'cloud_side_bar.html' %}

</div>
<div class="w-100 custom_right_side">






<div class="d-flex flex-column">

  <div class="custom_page_header_bottom_margin">

      <div class="d-flex flex-row justify-content-between align-items-center">

          <div class="flex-fill w-100 me-5">
              {% if have_upper %}
              <a href="#" class="back_a" onclick="page_load('{% url 'control_library' id=the_upper %}');event.preventDefault();">< </a>
              {% endif %}
              <span class="custom_page_header_text_bold">{{control_library}} {{version}}</span></span></span>                
          </div>
      </div>
  </div>
</div>

<div class="d-flex flex-column">

  <div class="custom_page_header_bottom_margin">

      <div class="d-flex flex-row justify-content-between align-items-center">
          <div class="flex-fill w-100 me-5">
              <div class="row">
                <a href="#" onclick="page_load('{% url 'control_element' id=control_library_with_version %}');event.preventDefault();" class="" style="width: auto; text-decoration: none;"><span class="header_text_not_active">Home </span><img  src="/static/images/icons/action_home.svg" style="height: 20px;margin-right: 10px;"/></a>
                <a href="#" onclick="page_load('{% url 'control_element_version' id=control_library_with_version %}');event.preventDefault();" class="" style="width: auto; text-decoration: none;"><span class="header_text_not_active">Version </span><img  src="/static/images/icons/action_version.svg" style="height: 20px;margin-right: 10px;"/></a>
                <a href="#" onclick="page_load('{% url 'control_element_commits' id=control_library_with_version %}');event.preventDefault();" class="" style="width: auto; text-decoration: none;"><span class="header_text_not_active">Commits </span><img  src="/static/images/icons/action_commit.svg" style="height: 20px;margin-right: 10px;"/></a>
                <a href="#" onclick="page_load('{% url 'control_element_runs' id=control_library_with_version %}');event.preventDefault();" class="" style="width: auto; text-decoration: none;"><span class="header_text_active">Run History </span><img  src="/static/images/icons/action_run.svg" style="height: 20px;margin-right: 10px;"/></a>
                <a href="#" onclick="page_load('{% url 'control_element_dependency' id=control_library_with_version %}');event.preventDefault();" class="" style="width: auto; text-decoration: none;"><span class="header_text_not_active">Dependency </span><img  src="/static/images/icons/action_dependency.svg" style="height: 20px;margin-right: 10px;"/></a>
                <a href="#" onclick="page_load('{% url 'control_element_settings' id=control_library_with_version %}');event.preventDefault();" class="" style="width: auto; text-decoration: none;  margin-right: auto;"><span class="header_text_not_active">Settings </span><img  src="/static/images/icons/action_settings.svg" style="height: 20px;margin-right: 10px;"/></a>

              </div>
          </div>
      </div>
  </div>
</div>



<div class="d-flex flex-column scrollabe_righ_side">
    
    

    <div class="custom_page_header_bottom_margin">

      <div class="d-flex flex-row justify-content-between align-items-center">

          <div class="flex-fill w-100 me-5">
            <a href="#" class="back_a" onclick="page_load('{% url 'control_element_runs' id=control_library_with_version %}');event.preventDefault();">< </a>
            <span class="custom_page_header_text_bold">{{run.time}}</span></span></span>             
          </div>
      </div>
  </div>

        <div>


            <table class="table table-hover align-middle library_table">
                <thead>
                  <tr style="
            border-bottom-color: #01EE8D;
        ">

                    <th scope="col">CPU Usage (one core)</th>
                    <th scope="col">Memory Usage</th>
                    <th scope="col">Elapsed Time</th>
                    <th scope="col">Type</th>

                  </tr>
                </thead>
                <tbody>
                
     
                  <tr>

                    <td>{{run.cpu_usage}}%</td>
                    <td>{{run.memory_usage}}mb</td>
                    <td>{{run.elapsed_time}}s</td>
                    <td>{{run.type}}</td>

                  </tr>


                </tbody>
              </table>


              <table class="table table-hover align-middle library_table">
                <thead>
                  <tr style="
            border-bottom-color: #01EE8D;
        ">
  
                    <th scope="col">Os Name</th>
                    <th scope="col">Python Version</th>
                    <th scope="col">User</th>
                  </tr>
                </thead>
                <tbody>
                
     
                  <tr>
  
                    <td>{{run.os_name}}</td>
                    <td>{{run.python_version}}</td>
                    <td>{{run.username}}</td>
                  </tr>
  
  
                </tbody>
              </table>
        
              
              <table class="table table-hover align-middle library_table">
                <thead>
                  <tr style="
            border-bottom-color: #01EE8D;
        ">
  
                    <th scope="col">Commit</th>
                    
                  </tr>
                </thead>
                <tbody>
                
     
                  <tr>
  
                    <td>{{run.version_tag}} - {{run.version}}</td>
                  </tr>
  
  
                </tbody>
              </table>
  

            <table class="table table-hover align-middle library_table">
              <thead>
                <tr style="
          border-bottom-color: #01EE8D;
      ">

                  <th scope="col">Args</th>
                  
                </tr>
              </thead>
              <tbody>
              
   
                <tr>

                  <td>{{run.params}}</td>
                </tr>


              </tbody>
            </table>




        </div>
      </div>
</div>



{% endblock content %}