

{% extends "base.html" %}

{% load tags %}

{% block content %}



<div class="uk-container uk-width-expand ">
    <div  uk-grid class="uk-height-1-1">
        <div class="uk-width-auto" style=" padding-left: 0px;">

          {% include 'cloud_side_bar.html' %}
        </div>
    
        <div class="uk-width-expand uk-margin-medium-top">

            {% include 'libraries/control_element_header.html' %}

            <div class="scrollable_side">
            <div uk-grid>


            <div class="uk-child-width-2-2 uk-grid-small uk-grid-match uk-width-3-3 uk-margin-medium-top" uk-grid>

                
                {% for dump in dumps %}
                <div>
                    <div class="uk-card uk-card-body uk-card-default">
                        <div class="uk-margin-small-bottom">
                            {{dump.commit_message|safe}}
                        </div> 
                      <p class="uk-margin">

                        <span class="uk-badge" style="height: 35px;"><span uk-icon="user" class="uk-margin-small-left uk-margin-small-right"></span><span class="uk-margin-small-right">{{dump.user}}</span></span>
                        <span class="uk-badge" style="height: 35px;"><span uk-icon="calendar" class="uk-margin-small-left uk-margin-small-right"></span><span class="uk-margin-small-right">{{dump.date}}</span></span>

                        
                          <div class="custom_code_block uk-card">
                              <div class="custom_code_block_code">
                    <div class="highlight"><pre class="chroma"><pre><code class="language-python">{{dump.difference}}</code></pre></div>
                              </div>
                          </div>
                          <div class="custom_code_block uk-card">
                            <div class="custom_code_block_code">
                  <div class="highlight"><pre class="chroma"><pre><code class="language-python">{{dump.dump_id}}</code></pre></div>
                            </div>
                        </div>
                          <ul class="uk-navbar-nav uk-margin-small-top">
  
            
  
  
  
  
                      
                              </ul>
  
                      </p>
                    </div>
                  </div>
                  {% endfor %}



              </div>



              <div class="uk-width-1-3 uk-margin-medium-top">


            </div>

                
              </div>
              
            </div> 
            </div>
        </div>
      </div>
    
</div>








{% endblock content %}






