

{% extends "base.html" %}

{% load tags %}

{% block content %}



<div class="uk-container uk-width-expand ">
    <div  uk-grid class="uk-height-1-1">
        <div class="uk-width-auto" style=" padding-left: 0px;">

          {% include 'cloud_side_bar.html' %}
        </div>
    
        <div class="uk-width-expand uk-margin-medium-top">

            {% include 'libraries/control_element_header.html' %}

            <div class="scrollable_side">
            <div>


              <script src="https://unpkg.com/cytoscape/dist/cytoscape.min.js"></script>
              <style>
                  #cy {
                    height: 400px;
                    width: 100%;
                    {% if request.user.dark_mode %}border: 1px solid #ccc;,{% else %}border: 1px solid #000;{% endif %}
                    margin-top: 20px;
                  }
                </style>
  
              {% if any_dependency %}
  
  
  
                  <div id="cy"></div>
    
                <script>
                  var control_library = '{{ control_library }}';
              
                  var start_y = 120;
                  var increment_y = 10;
                  var control_position = { x: 200, y: 125 };
              
                  var elements = [
                    // Control node
                    { data: { id: control_library, name: control_library }, position: control_position },
                    
                    // "Out" nodes and edges
                    {% for node in dependency.out %}
                    { data: { id: '{{ node.name }}', url:'{% url 'control_element' id=node.name %}', name: '{{ node.name }}' }, position: { x: 170, y: start_y + ({{ forloop.counter0 }} * increment_y) } },
                    { data: { id: control_library + '{{ node.name }}', source: '{{ node.name }}', target: control_library, type: 'out' } },
                    {% endfor %}
                    
                    // "In" nodes and edges
                    {% for node in dependency.in %}
                    { data: { id: '{{ node }}', url:'{% url 'control_element' id=node %}', name: '{{ node }}' }, position: { x: 230, y: start_y + ({{ forloop.counter0 }} * increment_y) } },
                    { data: { id: control_library + '{{ node }}', source: control_library, target: '{{ node }}', type: 'in' } },
                    {% endfor %}
                  ];
              
                  // Initialize Cytoscape
                  var cy = cytoscape({
                    container: document.getElementById('cy'),
                    elements: elements,
                    layout: {
                      name: 'preset' // Use 'preset' layout for manual positioning
                    },
                    style: [
                      {
                        selector: 'node',
                        style: {
                          'width': 2,
                          'height': 2,
                          'background-color': '#007bff',
                          'label': 'data(name)',
                          {% if request.user.dark_mode %}'color': 'white',{% else %}'color': 'black',{% endif %}
                          'font-size': '1px',
                          'text-valign': 'center'
                        }
                      },
                      {
                        selector: 'edge',
                        style: {
                          'width': 0.5,
                          'line-color': '#bbb',
                          'target-arrow-color': '#bbb',
                          'target-arrow-shape': 'triangle'
                        }
                      },
                      {
                        selector: 'edge[type="in"]',
                        style: {
                          'line-color': 'green',
                          'target-arrow-color': 'green',
                        }
                      },
                      {
                        selector: 'edge[type="out"]',
                        style: {
                          'line-color': 'red',
                          'target-arrow-color': 'red',
                        }
                      }
                    ],
                    userZoomingEnabled: false, // Disable zooming
  
                    boxSelectionEnabled: false // Disable box selection
                  });
              
                  // Redirect on node click, unless it's the control node
                  cy.on('tap', 'node', function(evt){
                  var node = evt.target;
                  if(node.data('id') !== control_library) {
                      window.open(node.data('url'), '_blank'); // open the URL in a new tab
                  }
                  });
  
                  // Ensure nodes cannot be moved
                  cy.nodes().forEach(function (n) {
                  n.data('grabbable', false);
                  });
              </script>
  
              {% else %}
              <div class="d-flex flex-column">
                  No dependencies found.
              </div>
              {% endif %}
  
                
              </div>
              
            </div> 
            </div>
        </div>
      </div>
    
</div>








{% endblock content %}





























