{% extends "base.html" %}

{% load tags %}

{% block content %}



<div class="uk-container uk-width-expand   ">
    <div  uk-grid class="uk-height-1-1">
        <div class="uk-width-auto"  style=" padding-left: 0px;">

          {% include 'cloud_side_bar.html' %}
        </div>
    
        <div class="uk-width-expand uk-margin-medium-top">


            







            {% include 'libraries/control_element_header.html' %}








              



















            <div class="scrollable_side" >
            <div uk-grid>


            <div class="uk-width-1-2 uk-margin-medium-top">

                
                <h2 class="uk-h2 uk-margin" style="color: hsl(var(--primary));;">Intro</h2>
                <div class="custom_pharagraph_for_documentations">{{documentation|safe}}</div>



                <h2 class="uk-h2 uk-margin" style="color: hsl(var(--primary));;">Time Complexity</h2>
                <div class="custom_pharagraph_for_documentations">{{time_complexity|safe}}</div>



                <h2 class="uk-h2 uk-margin" style="color: hsl(var(--primary));;">Security Analysis</h2>
                <div class="custom_pharagraph_for_documentations">{{security_analysis|safe}}</div>                


            </div>


              <div class="uk-width-1-2 uk-margin-medium-top">

                <div class=" uk-card uk-card-body uk-card-default">
                    <h3 class="uk-card-title">Object</h3>
                    <div class="uk-margin-small-top">
                    <span class="uk-badge">Type {{type}}</span>
                    <span class="uk-badge">Python {{python_version}}</span>
                    </div>
                
                    <p class="uk-margin">

                        <div class="custom_pharagraph_for_documentations"></div>
                        <div class="custom_code_block">
                            <div class="custom_code_block_code">
                                <div>
                                    <pre><code class="language-python">{{code}}</code></pre>
                                </div>
                            </div>
                
                            
                        </div>
                
                        <div class="custom_code_block uk-card">
                            <div class="custom_code_block_code">
                                <div class="highlight"><pre><code class="language-python">{{using_code}}</code></pre></div>
                            </div>
                        </div>
                        {% if requirements != "" %}
                        
                        
        
                        <div class="custom_pharagraph_for_documentations uk-margin-small-top">Requirements</div>
                        <div class="custom_code_block">
                            <div class="custom_code_block_code">
                                <div class="highlight"><pre><code class="language-python">{{requirements}}</code></pre></div>
                            </div>
                        </div>
                        {% endif %}
                    </p>
                  </div>

            </div>
                
              </div>
              
            </div> 
            </div>
        </div>
      </div>
    
</div>








{% endblock content %}










