{% extends "base.html" %}

{% load tags %}

{% block content %}
<div class="d-flex cloud_left_section">
{% include 'cloud_side_bar.html' %}

</div>
<div class="w-100 custom_right_side">


    <div class="custom_page_header_bottom_margin">
        <span class="custom_page_header_text">
            <div class="d-flex flex-row justify-content-between">

            <div class="flex-fill w-50 me-5">
            {% if have_upper %}
            <a href="#" class="back_a" onclick="page_load('{% url 'control_library' id=the_upper %}');event.preventDefault();">< | </a>
            {% endif %}
            <span class="custom_page_header_text_bold">{{control_library}} {{version}}</span></span></span>
            </div>
            <div class="flex-fill w-50 me-5">
                <div class="row">
                    <a href="#" onclick="page_load('{% url 'control_element' id=control_library_with_version %}');event.preventDefault();" class="btn btn-lg custom_button ms-4 mt-3" style="vertical-align: super;">Documentation</a>
                </div>
        </div>
            </div>
    </div>



        


        <div>
            {% if cpu_usage_analyses == False %}
            
            <div class="custom_page_header_top_bottom_margin">
                <span class="custom_page_header_text">Please enable Usage Analyses for catching new runs.</span>
            </div>            
            {% endif %}

            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Version</th>
                    <th scope="col">CPU Usage (one core) %</th>
                    <th scope="col">Memory Usage MB</th>
                    <th scope="col">Elapsed Time Second</th>
                    <th scope="col">Type</th>
                  </tr>
                </thead>
                <tbody>
                
                {% for run in get_last_runs%}
                  <tr>
                    <th>{{run.data.version}}</th>
                    <td>{{run.data.cpu_usage}}</td>
                    <td>{{run.data.memory_usage}}</td>
                    <td>{{run.data.elapsed_time}}</td>
                    <td>{{run.data.type}}</td>
                  </tr>

                {% endfor %}

                </tbody>
              </table>


        </div>

</div>



{% endblock content %}