{% extends "base.html" %}

{% load tags %}

{% block content %}
<div class="d-flex cloud_left_section">
{% include 'cloud_side_bar.html' %}

</div>
<div class="w-100 custom_right_side">


    <div class="d-flex flex-column">

        <div class="custom_page_header_bottom_margin">

            <div class="d-flex flex-row justify-content-between align-items-center">

                <div class="flex-fill w-50 me-5">
                    {% if have_upper %}
                    <a href="#" class="back_a" onclick="page_load('{% url 'control_library' id=the_upper %}');event.preventDefault();">< </a>
                    {% endif %}
                    <span class="custom_page_header_text_bold">{{control_library}} {{version}}</span></span></span>                
                </div>
                <div class="flex-fill w-50 me-5">
                    <div class="row">
                        <span class="page_header_right_text">Settings</span>

                        <a href="#" onclick="page_load('{% url 'control_element' id=control_library_with_version %}');event.preventDefault();" class="" style="width: auto;"><img  src="/static/images/icons/action_home.svg" style="height: 20px;"/></a>
                        <a href="#" onclick="page_load('{% url 'control_element_version' id=control_library_with_version %}');event.preventDefault();" class="" style="width: auto;"><img  src="/static/images/icons/action_version.svg" style="height: 20px;"/></a>
                        <a href="#" onclick="page_load('{% url 'control_element_commits' id=control_library_with_version %}');event.preventDefault();" class="" style="width: auto;"><img  src="/static/images/icons/action_commit.svg" style="height: 20px;"/></a>
                        <a href="#" onclick="page_load('{% url 'control_element_runs' id=control_library_with_version %}');event.preventDefault();" class="" style="width: auto;"><img  src="/static/images/icons/action_run.svg" style="height: 20px;"/></a>
                        <a href="#" onclick="page_load('{% url 'control_element_settings' id=control_library_with_version %}');event.preventDefault();" class="" style="width: auto;"><img  src="/static/images/icons/action_settings.svg" style="height: 20px;"/></a>


                    </div>
                </div>
            </div>
        </div>
    </div>


        


        <div>


          <div class="mt-5">
              <div class="custom_page_header_top_margin">
                  <span class="custom_page_header_text">Settings</span>
              </div>                
      
              {% if cpu_usage_analyses == True %}
              <a href="{% url 'deactivate_usage_analyses' id=control_library %}" class="btn btn-lg custom_button mt-5">Deactivate Usage Analyses</a>
              {% endif %}
              {% if cpu_usage_analyses == False %}
              <a href="{% url 'activate_usage_analyses' id=control_library %}" class="btn btn-lg custom_button mt-5">Activate Usage Analyses</a>
              {% endif %}
      
          </div>



        </div>

</div>



{% endblock content %}