

{% extends "base.html" %}

{% load tags %}

{% block content %}



<div class="uk-container uk-width-expand ">
    <div  uk-grid class="uk-height-1-1">
        <div class="uk-width-auto" style=" padding-left: 0px;">

          {% include 'cloud_side_bar.html' %}
        </div>
    
        <div class="uk-width-expand uk-margin-medium-top">

            {% include 'libraries/control_element_header.html' %}

            <div class="scrollable_side">
            <div uk-grid>


            <div class="uk-child-width-2-2 uk-grid-small uk-grid-match uk-width-3-3 uk-margin-medium-top" uk-grid>
                <div>
                  <div class="uk-card uk-card-body uk-card-default">
                    <h3 class="uk-card-title">Latest</h3>
                    <p class="uk-margin">

                        <div class="custom_code_block uk-card">
                            <div class="custom_code_block_code">
                  <div class="highlight"><pre class="chroma"><pre><code class="language-python">{{using_code}}</code></pre></div>
                            </div>
                        </div>

                        <ul class="uk-navbar-nav uk-margin-small-top">

          



                            <a  href="#" onclick="page_load('{% url 'control_element' id=control_library %}');event.preventDefault();" class="uk-button uk-button-default"><span uk-icon="file-text" class="uk-margin-small-right"></span>Go to Docs</a>
                    

                    
                            </ul>

                    </p>
                  </div>
                </div>

                {% if not no_version %}
                {% for v in the_versions %}
                <div>
                    <div class="uk-card uk-card-body uk-card-default">
                      <h3 class="uk-card-title">{{v.version}}</h3>
                      <p class="uk-margin">

                        <span class="uk-badge" style="height: 35px;"><span uk-icon="user" class="uk-margin-small-left uk-margin-small-right"></span><span class="uk-margin-small-right">{{v.user}}</span></span>
                        <span class="uk-badge" style="height: 35px;"><span uk-icon="calendar" class="uk-margin-small-left uk-margin-small-right"></span><span class="uk-margin-small-right">{{v.date}}</span></span>

                        <div class="custom_code_block uk-card">
                            <div class="custom_code_block_code">
                  <div class="highlight"><pre class="chroma"><pre  style="text-wrap: wrap;
                    text-align: justify;"><code class="language-markdown">{{v.release_note}}</code></pre></div>
                            </div>
                        </div>                         
                          <div class="custom_code_block uk-card">
                              <div class="custom_code_block_code">
                    <div class="highlight"><pre class="chroma"><pre><code class="language-python">{{v.using_code}}</code></pre></div>
                              </div>
                          </div>
  
                          <ul class="uk-navbar-nav uk-margin-small-top">
  
            
  
  
  
                              <a href="#" onclick="page_load('{% url 'control_element' id=v.link %}');event.preventDefault();" class="uk-button uk-button-default"><span uk-icon="file-text" class="uk-margin-small-right"></span>Go to Docs</a>

  
  
                      
                              </ul>
  
                      </p>
                    </div>
                  </div>
                  {% endfor %}

                  {% else %}


                  <div class="custom_page_header_top_bottom_margin">
                      <span class="custom_page_header_text">- No Version Found</span>
                  </div>
      
      
                  {% endif %}


              </div>



              <div class="uk-width-1-3 uk-margin-medium-top">


            </div>

                
              </div>
              
            </div> 
            </div>
        </div>
      </div>
    
</div>








{% endblock content %}













