{% extends "base.html" %}

{% block content %}

{% load tags %}

<div class="uk-container uk-width-expand " uk-height-viewport="offset-top: true" >


    <div  uk-grid>
        <div class="uk-width-auto" style=" padding-left: 0px;">

          {% include 'cloud_side_bar_other.html' %}
        </div>
    

        <div class="uk-width-expand uk-margin-medium-top scrollable_side" style="height: 80vh;">
          {% include 'notifications.html' %}

          {% include 'home/cardview.html' %}

          {% demo_mode as demo_mode %}
          {% if not demo_mode %}
          <div uk-grid class="uk-margin-medium-bottom">
            <div class="uk-width-expand">
            <h1 class="uk-h2 uk-margin text-foreground">Connection Code</h1>
            </div>

        </div>



        <div class="custom_code_block uk-card">
          <div class="custom_code_block_code">
<div class="highlight"><pre class="chroma"><pre><code class="language-python">{{the_connection_code}}</code></pre></div>
          </div>
      </div>
        {% endif %}





      
        </div>
      </div>
    
</div>



{% endblock content %}
