{% extends "base.html" %}

{% block content %}



<div class="d-flex cloud_left_section">
  {% include 'cloud_side_bar.html' %}
  </div>

<div class="w-100 custom_right_side">

    <div>
        <div class="custom_page_header_bottom_margin">
            <span class="custom_page_header_text"><span class="custom_page_header_text_bold">Connection</span> Code</span>
        </div>


        <div class="custom_code_block">
            <div class="custom_code_block_code">
<div class="highlight"><pre class="chroma"><code class="language-html" data-lang="html"><span class="">{{the_connection_code}}</span></code></pre></div>
            </div>
        </div>

    </div>

{% endblock content %}