fire==0.5.0
python-dotenv==1.0.0
flask==2.0.0
waitress==2.1.2
Flask-Limiter==3.4.0
werkzeug==2.3.7
redis==4.6.0
rich==13.7.0
cloudpickle==3.0.0
requests==2.28.2
cryptography==41.0.3
django==4.2.9
gunicorn==20.1.0
tzdata==2023.3
sentry-sdk[flask]==1.40.0
sentry-sdk[django]==1.40.0
pytest==8.0.0
dill==0.3.7
django-allauth==0.58.0
django-crispy-forms==2.1
crispy-bootstrap5==0.7
logtail-python==0.2.10
ollama==0.1.6
langchain==0.1.10
langchain-community==0.0.25
chromadb==0.4.24