{% extends "base.html" %}

{% load tags %}

{% block content %}


      <div class="uk-container uk-width-expand uk-margin-medium-top scrollable_side" style="height: 100vh;">
        <div uk-grid class="uk-margin-medium-bottom">
            <div class="uk-width-expand">
                {% if result != None %}
                {% if result != False %}
                <div class="uk-margin-medium-bottom uk-alert uk-alert-success" uk-alert>{{result}}</div>
                {% else %}
                <div class="uk-margin-medium-bottom uk-alert uk-alert-danger">{{result}}</div>
                {% endif %}
                {% endif %}
                <h1 class="uk-h2 uk-margin text-foreground">
                    {{page_title}}</h1>

            </div>

        </div>
        <div  class="uk-margin-small-bottom" style="margin-top: 1.5rem;">

            <div class="uk-navbar-right ">
              <ul class="uk-navbar-nav uk-margin-medium-right" style="gap: 0.5rem;">

              </ul>
            </div>  
          
            </div>


            <div class="uk-width-expand uk-margin-medium-top">


    
                <div class="scrollable_side" uk-height-viewport="offset-top: true">


                  <div class=" uk-grid-small uk-grid-match" uk-grid>
                  

                    <div class="uk-width-auto">
                      <div class="uk-card uk-card-body uk-card-default">
                        <h3 class="uk-card-title uk-margin-bottom">Active</h3>

      


                        <ul class="uk-subnav uk-subnav-primary" >
                          <li  {% if not currently_status %}class="uk-active"{% endif %}><a href="{% url 'Change LDAP Status' status='false' %}">Off</a></li>
                          <li {% if currently_status %}class="uk-active"{% endif %}  ><a href="{% url 'Change LDAP Status' status='true' %}">On</a></li>

                        </ul>
                        


                      </div>
                    </div>




                    <div class="uk-width-1-6">
                      <div class="uk-card uk-card-body uk-card-default">
                        <h3 class="uk-card-title uk-margin-bottom">Server</h3>

      


                        <li style="width: 100%;" id="header_search_div">
                          <form action="{% url 'LDAP Settings' %}" method="post" autocomplete="off">
                            <div class="uk-margin-small-top ">
                              <div class="uk-inline" style="width: 100%;">
                                
                                <input class="uk-input" style="width: 200%;" type="text" placeholder="{{ldap_server}}" aria-label="Search" name="ldap_server" value="{{ldap_server}}" required/>
                              </div>
                            </div>
                           
                
                          </form></li>
      
      


                      </div>
                    </div>


                    <div class="uk-width-1-6">
                      <div class="uk-card uk-card-body uk-card-default">
                        <h3 class="uk-card-title uk-margin-bottom">Port</h3>

      


                        <li style="width: 100%;" id="header_search_div">
                          <form action="{% url 'LDAP Settings' %}" method="post" autocomplete="off">
                            <div class="uk-margin-small-top ">
                              <div class="uk-inline" style="width: 100%;">
                                
                                <input class="uk-input" style="width: 200%;" type="text" placeholder="{{ldap_port}}" aria-label="Search" name="ldap_port" value="{{ldap_port}}" required/>
                              </div>
                            </div>
                           
                
                          </form></li>
      
      


                      </div>
                    </div>


                    <div class="uk-width-1-6">
                      <div class="uk-card uk-card-body uk-card-default">
                        <h3 class="uk-card-title uk-margin-bottom">Use SSL</h3>

      


                        <li style="width: 100%;" id="header_search_div">
                          <form action="{% url 'LDAP Settings' %}" method="post" autocomplete="off">
                            <div class="uk-margin-small-top ">
                              <div class="uk-inline" style="width: 100%;">
                                
                                <input class="uk-input" style="width: 200%;" type="text" placeholder="{{ldap_use_ssl}}" aria-label="Search" name="ldap_use_ssl" value="{{ldap_use_ssl}}" required/>
                              </div>
                            </div>
                           
                
                          </form></li>
      
      


                      </div>
                    </div>


                    
                  </div>


                  <div class=" uk-grid-small uk-grid-match" uk-grid>

                    <div class="uk-width-1-6">
                      <div class="uk-card uk-card-body uk-card-default">
                        <h3 class="uk-card-title uk-margin-bottom">Search</h3>




                        <li style="width: 100%;" id="header_search_div">
                          <form action="{% url 'LDAP Settings' %}" method="post" autocomplete="off">
                            <div class="uk-margin-small-top ">
                              <div class="uk-inline" style="width: 100%;">
                                
                                <input class="uk-input" style="width: 200%;" type="text" placeholder="{{ldap_search}}" aria-label="Search" name="ldap_search" value="{{ldap_search}}" required/>
                              </div>
                            </div>
                           
                
                          </form></li>
      
      


                      </div>
                    </div>

                    <div class="uk-width-1-6">
                      <div class="uk-card uk-card-body uk-card-default">
                        <h3 class="uk-card-title uk-margin-bottom">BIND User</h3>




                        <li style="width: 100%;" id="header_search_div">
                          <form action="{% url 'LDAP Settings' %}" method="post" autocomplete="off">
                            <div class="uk-margin-small-top ">
                              <div class="uk-inline" style="width: 100%;">
                                
                                <input class="uk-input" style="width: 200%;" type="text" placeholder="{{ldap_bind_user}}" aria-label="Search" name="ldap_bind_user" value="{{ldap_bind_user}}" required/>
                              </div>
                            </div>
                           
                
                          </form></li>
      
      


                      </div>
                    </div>

                    <div class="uk-width-1-6">
                      <div class="uk-card uk-card-body uk-card-default">
                        <h3 class="uk-card-title uk-margin-bottom">BIND Password</h3>




                        <li style="width: 100%;" id="header_search_div">
                          <form action="{% url 'LDAP Settings' %}" method="post" autocomplete="off">
                            <div class="uk-margin-small-top ">
                              <div class="uk-inline" style="width: 100%;">
                                
                                <input class="uk-input" style="width: 200%;" type="text" placeholder="{{ldap_bind_password}}" aria-label="Search" name="ldap_bind_password"  required/>
                              </div>
                            </div>
                           
                
                          </form></li>
      
      


                      </div>
                    </div>





                  </div>


                  <h1 class="uk-h2 uk-margin text-foreground uk-margin-large-top">LDAP Test</h1>




                  <div class=" uk-grid-small uk-grid-match" uk-grid>

                    <div class="uk-width-1-6">
                      <div class="uk-card uk-card-body uk-card-default">
                        <h3 class="uk-card-title uk-margin-bottom">Auth</h3>




                        <li style="width: 100%;" id="header_search_div">
                          <form action="{% url 'LDAP Settings' %}" method="post" autocomplete="off" id="save">
                            <div class="uk-margin-small-top uk-margin-small-bottom">
                              <div class="uk-inline" style="width: 100%;">
                                <input class="uk-input" style="width: 200%;" type="text" placeholder="Username" aria-label="Search" name="username" required/>
                                <input class="uk-input uk-margin-small-top" style="width: 200%;" type="text" placeholder="Password" aria-label="Search" name="password" required/>
                              </div>
                            </div>
                            <button type="submit" class="uk-button uk-button-primary uk-margin-small-top uk-width-1-1">Check</button>
                          </form>
                        </li>
      
      


                      </div>
                    </div>

                    <div class="uk-width-1-6">
                      <div class="uk-card uk-card-body uk-card-default">
                        <h3 class="uk-card-title uk-margin-bottom">Group</h3>





                        <li style="width: 100%;" id="header_search_div">
                          <form action="{% url 'LDAP Settings' %}" method="post" autocomplete="off" id="check">
                            <div class="uk-margin-small-top uk-margin-small-bottom">
                              <div class="uk-inline" style="width: 100%;">
                                <input class="uk-input" style="width: 200%;" type="text" placeholder="Username" aria-label="Search" name="username" required/>
                                <input class="uk-input uk-margin-small-top" style="width: 200%;" type="text" placeholder="Group Name" aria-label="Search" name="group_name" required/>
                              </div>
                            </div>
                            <button type="submit" class="uk-button uk-button-primary uk-margin-small-top uk-width-1-1">Check</button>
                          </form>
                        </li>
      
      
      


                      </div>
                    </div>






                  </div>



                </div>

            </div>

</div>

{% endblock content %}
