<table class="uk-table uk-table-divider">
  <thead>
    <tr>
      <th class="uk-table-expand">Name</th>
      <th class="uk-table-shrink uk-text-nowrap">Action</th>

    </tr>
  </thead>
  <tbody>
    {% for scope in top_scopes %}
    <tr>
      <td class="text-foreground">{{scope}}</td>
      <td>
        <div class="uk-flex">
        <button onclick="page_load('{% url 'control_library' id=scope %}');event.preventDefault();" class="uk-button uk-button-primary uk-margin-small-right"><span uk-icon="home" class="uk-margin-small-right"></span>Use   </span
          ></button>
          <button onclick="page_load('{% url 'control_library_version' id=scope %}');event.preventDefault();" class="uk-button uk-button-default uk-margin-small-right">Releases</button>
        <a href="#" onclick="page_load('{% url 'control_library_settings' id=scope %}');event.preventDefault();" class="uk-button uk-button-default uk-margin-small-right" style="width: 1px;"><span uk-icon="settings"></span></a>        
      </div>
      </td>

    </tr>
    {% endfor %} 
  </tbody>
</table>