



<table class="table table-hover align-middle library_table">
    <thead>
      <tr style="
      border-bottom-color: #01EE8D;
  ">

        <th scope="col">Name</th>
          <th scope="col" style="
          text-align: end;
          padding: 1rem 1rem;
          padding-right: 70px;
      ">Action</th>

      </tr>
    </thead>
    <tbody>
        {% for scope in top_scopes %}
        <tr>

            <td><a href="#" onclick="page_load('{% url 'control_library' id=scope %}');event.preventDefault();" class="library_item_a">{{scope}}</a></td>

            <td style="text-align: end;padding: 1rem 1rem;padding-right: 55px;">

              <a href="#" onclick="page_load('{% url 'control_library' id=scope %}');event.preventDefault();" class="" style="width: auto;"><img  src="/static/images/icons/action_home.svg" style="height: 20px;"/></a>
              <a href="#" onclick="page_load('{% url 'control_library_version' id=scope %}');event.preventDefault();" class="" style="width: auto;"><img  src="/static/images/icons/action_version.svg" style="height: 20px;"/></a>
              <a href="#" onclick="page_load('{% url 'control_library_settings' id=scope %}');event.preventDefault();" class="" style="width: auto;"><img  src="/static/images/icons/action_settings.svg" style="height: 20px;"/></a>

            </td>

          </tr>

        {% endfor %}


    </tbody>
  </table>
