{% extends "base.html" %}

{% load tags %}

{% block content %}


      <div class="uk-container uk-width-expand uk-margin-medium-top uk-margin-medium-left scrollable_side" style="height: 100vh;">
        <div uk-grid class="uk-margin-medium-bottom">
            <div class="uk-width-expand">
                <h1 class="uk-h2 uk-margin text-foreground">
                    {{page_title}}</h1>
                    <span class="uk-badge" style="height: 35px;"><span uk-icon="code" class="uk-margin-small-left uk-margin-small-right"></span><span class="uk-margin-small-right">Task Count {{task_len}}</span></span>

            </div>

        </div>
        <div  class="uk-margin-small-bottom" style="margin-top: 1.5rem;">

            <div class="uk-navbar-right ">
              <ul class="uk-navbar-nav uk-margin-medium-right" style="gap: 0.5rem;">

              </ul>
            </div>  
          
            </div>


            <div class="uk-width-expand uk-margin-medium-top">


    
                <div class="scrollable_side" uk-height-viewport="offset-top: true">
                <table class="uk-table uk-table-divider">
                    <thead>
                      <tr>
                        <th class="uk-table-shrink">Name</th>
                        <th class="uk-table-expand">Object</th>
                      </tr>
                    </thead>
                    <tbody>


                    {% for task in tasks%}
               
                      <tr>
                        <td>

                            <span class="uk-badge">{{task.task_name}}</span>

                        </td>

                        <td class="text-foreground">{{task.key}}</td>


                      </tr>
    
                    {% endfor %}
    
    
    
                    </tbody>
                  </table>
                

            </div>
            </div>

</div>

{% endblock content %}
