  [data-bs-theme=dark] .uk-icon {

    fill: #fff;

}
[data-bs-theme=dark] .custom_code_block {


}

[data-bs-theme=dark] .custom_code_block_code {

  color: #E5E2FF;
}




[data-bs-theme=dark] .custom_login_header { 
  color: #FFF;

}
[data-bs-theme=dark] .custom_price_card_bottom_button_text_disabled {
  color: #1E1E1F;
}



[data-bs-theme=dark] .login_background { 
  background: #000;
}


[data-bs-theme=dark] .custom_login_card { 
  border-radius: 31px;
  border: 1px solid #FFF;
  
  background: #171717;
  scale: 0.8;
}


[data-bs-theme=dark] .btn-clipboard {
  background-color: #1E1E1F;
  color: #B6B3B3;
}



[data-bs-theme=dark] :root {
  --primary: 154.68 99.16% 46.86%;
}