  [data-bs-theme=dark] .cloud_side {
    background: #171717;
  }
  [data-bs-theme=dark] .cloud_side_database {
    background: #1E1E1F;
  }

  [data-bs-theme=dark] .cloud_side_nav_item_text {
    color: #E5E2FF;
  }

  [data-bs-theme=dark] .cloud_side_nav_item_text_database {
    color: #A197FF;
  }


  
  [data-bs-theme=dark] .cloud_side_nav_item_text_active_database {
    color: #FFF;
  }  


  [data-bs-theme=dark] .custom_button {
    color: #FFF;
    background: #000;
    border-color: #FFF;
  }

  [data-bs-theme=dark] .custom_button_red {

    background: #000;

  }


  [data-bs-theme=dark] .custom_button_cloud_bar {
    color: #FFF;
    background: #000;
    border-color: #000;
  }





  [data-bs-theme=dark] .custom_card {
    border-bottom: 1px solid #01ee8a;

    background: #171717;
  }


  [data-bs-theme=dark] .custom_card:hover {
    border-bottom: 1px solid #ffffff;

    background: #171717;
  }


  [data-bs-theme=dark] .custom_card_active {
    border: 1px solid #4D38FF;

    background: #171717;
  }

  [data-bs-theme=dark] .custom_card_header_blue {
    color: #FFF;
  }
  [data-bs-theme=dark] .custom_card_header_black_big {
    color: #FFF;
  }

  [data-bs-theme=dark] .custom_card_pharagraph {
    color: #E5E2FF;
  }



  


  [data-bs-theme=dark] .page_header_right_text{
    color: #FFFFFF;
  }










  [data-bs-theme=dark] .custom_page_header_text {
    color: #01EE8A;
  }


  [data-bs-theme=dark] .custom_page_header_text_bold {
    color: #01EE8A;
  }

  [data-bs-theme=dark] .custom_body {
    background: #000;
  }

  [data-bs-theme=dark] .custom_side_bar_flex_column {
    background: #000;
  }

  [data-bs-theme=dark] .custom_right_side {
    background: #000;
  }

  [data-bs-theme=dark] .custom_header_usage_text {
    color: #FFF;
  }

  [data-bs-theme=dark] .custom_header_usage_bar_amount {
    background: #4D38FF;
  }
  [data-bs-theme=dark] .custom_header_usage_text_highlight {
    color: #01EE8A;
  }



  [data-bs-theme=dark] .custom_header_welcome_first {
    color: #FAFAFF;
  }

  [data-bs-theme=dark] .custom_header_logout_text {
    color: #FFF;
  }

  [data-bs-theme=dark] .custom_pharagraph_bottom_margin {
    color: #E5E2FF;
  }
  [data-bs-theme=dark] .custom_pharagraph_for_documentations {
    color: #ababab;
  }
  [data-bs-theme=dark] .custom_code_block {
    background: #171717;

  }

  [data-bs-theme=dark] .custom_code_block_code {

    color: #E5E2FF;
  }


  [data-bs-theme=dark] .custom_side_bar_flex_column_nav_item_down_text {

    color: #E5E2FF;
  }

  

  [data-bs-theme=dark] .btn-clipboard {
    background-color: #1E1E1F;
    color: #B6B3B3;
  }

  



  [data-bs-theme=dark] .custom_form {
    background-color: #171717;
    color: #B6B3B3;
  }

  





  [data-bs-theme=dark] .custom_price_card {
    background-color: #171717;
  }

  



  [data-bs-theme=dark] .custom_price_card_title {
    color: #FFF;
  }


  [data-bs-theme=dark] .custom_price_card_content {
    color: #E5E2FF;
  }


  [data-bs-theme=dark] .custom_price_card_bottom {
    background-color: #1E1E1F;
  }



  [data-bs-theme=dark] .custom_price_card_bottom_button_disabled {
    background-color: #1E1E1F;
  }
  [data-bs-theme=dark] .custom_price_card_bottom_button_text_disabled {
    color: #1E1E1F;
  }


  
  
  [data-bs-theme=dark] .custom_profile_full_name {
    color: #FAFAFF;
  }



  [data-bs-theme=dark] .custom_card_header_bold { 
    color: #01EE8A;
  }
  



  [data-bs-theme=dark] .login_background { 
    background: #000;
  }

  [data-bs-theme=dark] .custom_login_card { 
    border-radius: 31px;
    border: 1px solid #FFF;
    
    background: #171717;
    scale: 0.8;
  }
    

  [data-bs-theme=dark] .custom_login_header { 
    color: #FFF;

  }
    

  

  


  [data-bs-theme=dark] .custom_header_button { 
    border-radius: 5px;
    border: 0px solid #4D38FF;
    background: #171717;

  }
    
  [data-bs-theme=dark] .custom_community_social_button { 
    background-color: #171717;
    color: #fff;

  }

  


  
  [data-bs-theme=dark]  .search_bar {
    background-color: #171717;

  }

  [data-bs-theme=dark] .library_table {
    --bs-table-bg: #000;
  }
  

  [data-bs-theme=dark] .library_item_a {
    color: #fff;
  }


  [data-bs-theme=dark] .library_item {
    filter: none;
  }

  [data-bs-theme=dark] .back_a {
    color: #fff;
  }

  [data-bs-theme=dark] .header_text_active {
    color: #ffffff;
  }



  [data-bs-theme=dark] .custom_header_button{
  color: #fff;

}
