.scrollable_side {
  overflow: overlay;

  height: calc(100vh - 290px);
  padding-bottom: 185px;
  padding-right: 1rem;
}

.custom_code_block {

  border-radius: 10px;
  
  padding-top: 19px;
  padding-bottom: 19px;
  padding-left: 25px;
  padding-right: 25px;
  margin-top: 25px;
  
  
  
  }
  
  .custom_code_block_code {
  color: #4B4B4D;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%; /* 20.8px */
  
  
  }



  .bd-clipboard {
    position: relative;
    display: none;
    float: right
  }
  .bd-clipboard+.highlight {

  }
  @media (min-width: 768px) {
    .bd-clipboard {
        display:block
    }
  }
  .btn-clipboard {
      /* position: absolute; */
      top: -.65rem;
      right: -.65rem;
      z-index: 10;
      display: block;

      font-size: .65em;


      font-feature-settings: 'clig' off, 'liga' off;
      font-family: Poppins;
      font-size: 11px;
      font-style: normal;
      font-weight: 400;
      line-height: 120%;
      /* min-width: 100px; */
  }
  .btn-clipboard-img {

  
  }
  
  .btn-clipboard:hover,.btn-clipboard:focus {

  }


  
.custom_code_highlight_green {

}


  
.custom_code_highlight_title {
  color: #01EE8A;
}
.login_left_image {
  background:url('/static/images/login_left.png');
  background-position: center;
  background-size: cover;

}

.custom_login_card {


  flex-shrink: 0;


  border-radius: 31px;
  border: 2px solid rgba(77, 56, 255, 0.50);
  background: #F6F5FF;

  padding-bottom: 42px;
  padding-top: 35px;
  padding-left: 47px;
  padding-right: 47px;

  margin-left: 150px;
  margin-right: 150px;

}

.custom_price_card_bottom_button {
  width: 113px;
  height: 32px;
  flex-shrink: 0;
  border-radius: 5px;
  background: #01EE8A;

  margin-top: 18px;
}


.custom_price_card_bottom_button_text {

  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;

  color: #4D38FF;
  text-align: center;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: Gabarito;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 130%; /* 18.2px */

}




.custom_price_card_bottom_button_disabled {
  width: 113px;
  height: 32px;
  flex-shrink: 0;
  border-radius: 5px;
  background: #4D38FF;
  border: 0px solid #000;

  margin-top: 18px;
}
.custom_price_card_bottom_button_text_disabled {
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;

  color: #4D38FF;
  text-align: center;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: Gabarito;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 130%; /* 18.2px */


 


}

.custom_login_header {
  color: #4D38FF; 
  text-align: center;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: Gabarito;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: 130%; /* 62.4px */

}



.custom_login_socials {
  width: 20px;
  margin-left: 27.68px;
}
