.scrollable_side {
  overflow: overlay;

  height: calc(100vh - 290px);
  padding-bottom: 185px;
  padding-right: 1rem;
}

.custom_code_block {

  border-radius: 10px;
  
  padding-top: 19px;
  padding-bottom: 19px;
  padding-left: 25px;
  padding-right: 25px;
  margin-top: 25px;
  
  
  
  }
  
  .custom_code_block_code {
  color: #4B4B4D;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%; /* 20.8px */
  
  
  }



  .bd-clipboard {
    position: relative;
    display: none;
    float: right
  }
  .bd-clipboard+.highlight {

  }
  @media (min-width: 768px) {
    .bd-clipboard {
        display:block
    }
  }
  .btn-clipboard {
      /* position: absolute; */
      top: -.65rem;
      right: -.65rem;
      z-index: 10;
      display: block;

      font-size: .65em;


      font-feature-settings: 'clig' off, 'liga' off;
      font-family: Poppins;
      font-size: 11px;
      font-style: normal;
      font-weight: 400;
      line-height: 120%;
      /* min-width: 100px; */
  }
  .btn-clipboard-img {

  
  }
  
  .btn-clipboard:hover,.btn-clipboard:focus {

  }


  
.custom_code_highlight_green {

}


  
.custom_code_highlight_title {
  color: #01EE8A;
}
