body {
    font-family: 'Poppins', sans-serif !important;

  }


  
html {
  height: -webkit-fill-available;
}
  
  main {
    height: 90vh;
    width: 100%;
    max-height: 90vh;
    overflow-x: auto;
    overflow-y: hidden;
  }

.scrollarea {
  overflow-y: auto;
}




.cloud_side {
  padding-top: 11px;
  width: 206px !important;
  flex-shrink: 0 !important;
  border-radius: 10px 10px 10px 10px;
  background: #FAFAFF;
  
}




.cloud_side_nav_item {

  display: flex;

  width: 190px;
  height: 34px;
  flex-shrink: 0;

  border-radius: 5px;

  margin-top: 11px;

}


.cloud_side_nav_item_active {

  display: flex;

  width: 190px;
  height: 34px;
  flex-shrink: 0;

  border-radius: 5px;
  background: #E5E2FF;

  margin-top: 11px;

}

.cloud_side_nav_item {

  display: flex;

  width: 190px;
  height: 34px;
  flex-shrink: 0;

  border-radius: 5px;

  margin-top: 11px;

}

.cloud_side_nav_item_text {
  align-items: center;
  color: rgba(0, 0, 0, 0.70);
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: Poppins;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%; /* 19.5px */
}





.cloud_side_nav_item_text_active {
  align-items: center;
  color: #4D38FF;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: Poppins;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 130%; /* 19.5px */

  
}



.cloud_side_database {
  padding-top: 31px;
  width: 206px !important;
  flex-shrink: 0;
  border-radius: 0px 10px 0px 0px;
  background: #FFF;
}


.cloud_side_nav_item_active_database {


  margin-top: 23px;


}

.cloud_side_nav_item_database {


  margin-top: 23px;


}

.cloud_side_nav_item_text_database {
  align-items: center;
  padding: 0;
  margin-left: 23px;

  display: flex;
  width: 166px;
  height: 16px;

  flex-shrink: 0;
  color: #4B4B4D;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: Poppins;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%; /* 19.5px */


  
}


.cloud_side_nav_item_text_active_database {
  align-items: center;
  padding: 0;
  margin-left: 18px;

  display: flex;
  width: 166px;
  height: 16px;

  flex-shrink: 0;

  color: #4D38FF;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: Poppins;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%; /* 19.5px */


}



.custom_button { 

  width: 175px;
  height: 41px;
  margin-left: 5px;
  flex-shrink: 0;

  border-radius: 5px;
  background: #E5E2FF;
  
  color: #4D38FF;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 130%;
  

}


.custom_button_cloud_bar { 

  width: 175px;
  height: 41px;
  
  flex-shrink: 0;

  border-radius: 5px;
  background: #E5E2FF;
  
  color: #4D38FF;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 130%;
  

}

.custom_button_100_width { 

  width: 100%;
  height: 41px;
  flex-shrink: 0;

  border-radius: 5px;
  background: #E5E2FF;
  
  color: #4D38FF;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 130%;
  

}



.custom_button_white_background { 

  width: 175px;
  height: 41px;
  margin-left: 5px;
  flex-shrink: 0;

  border-radius: 5px;
  background: #FFF;
  border-color: #E5E2FF;
  
  color: #4D38FF;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 130%;
  

}



.custom_button_red { 

  width: 175px;
  height: 41px;
  margin-left: 5px;
  flex-shrink: 0;

  border-radius: 5px;
  border-color: #dc3545;
  background: #FFF;
  
  color: #dc3545;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 130%;
  

}



.custom_button_red_100_width { 

  width: 100%;
  height: 41px;
  flex-shrink: 0;

  border-radius: 5px;
  border-color: #dc3545;
  background: #FFF;
  
  color: #dc3545;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 130%;
  

}

.custom_text_yellow {
  display: contents;
  color: #01EE8A;
  text-align: center;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 130%; /* 18.2px */

}

.custom_text_red {
  display: contents;
  color: #dc3545;
  text-align: center;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 130%; /* 18.2px */

}


.custom_card_header_blue {

  color: #4D38FF;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: Gabarito;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%; /* 20.8px */

  margin-top: 17px;

}



.custom_card_header_blue_big {

  color: #4D38FF;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: Gabarito;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%; /* 20.8px */

  margin-top: 17px;

}



.custom_card_pharagraph {

  color: #000;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: Poppins;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%; /* 16.9px */

  margin-top: 17px;


}


.custom_card {



  flex-shrink: 0;

  border-radius: 5px;
  border: 1px solid #FAFAFF;
  background: #FAFAFF;

  padding-left: 15px;
  padding-right: 15px;
  padding-top: 14px;
  padding-bottom: 31px;

  margin-right: 33px;
  margin-bottom: 33px;

  height: 80%;


}


.custom_card_active {



  flex-shrink: 0;

  border-radius: 5px;
  border: 1px solid #FAFAFF;
  background: #FAFAFF;

  padding-left: 15px;
  padding-right: 15px;
  padding-top: 14px;
  padding-bottom: 31px;

  margin-right: 33px;
  margin-bottom: 33px;

  border: 1px solid #4D38FF;
}

.custom_card:hover {

  border: 1px solid #4D38FF;

}



.custom_form {
  border-radius: 10px;
  background: #F4F4F4;
  color: #000;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%; /* 20.8px */  
}


.custom_form_field_head {
  color: #4D38FF;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%; /* 20.8px */

  margin-bottom: 6px;
  
}

.custom_form_col {
  margin-bottom: 49px;
  margin-right: 58px;

}



.login_left_image {
  background:url('/static/images/login_left.png');
  background-position: center;
  background-size: cover;

}




.custom_paragraph {

  color: #000;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: Poppins;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%; /* 16.9px */
  
}


.custom_pharagraph_bottom_margin {
  color: #000;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: Poppins;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%; /* 16.9px */  
  margin-bottom: 36px;
}


.custom_code_block {

  border-radius: 10px;
  background: #FAFAFF;
  padding-top: 19px;
  padding-bottom: 19px;
  padding-left: 25px;
  padding-right: 25px;
  margin-top: 25px;



}

.custom_code_block_code {
  color: #4B4B4D;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%; /* 20.8px */


}



.bd-clipboard {
  position: relative;
  display: none;
  float: right
}

.bd-clipboard+.highlight {
  margin-top: 0
}

@media (min-width: 768px) {
  .bd-clipboard {
      display:block
  }
}

.btn-clipboard {
  position: absolute;
  top: -.65rem;
  right: -.65rem;
  z-index: 10;
  display: block;
  padding: .25rem .5rem;
  font-size: .65em;
  color: #4D38FF;
  background-color: #F6F5FF;
  border: 0px solid;
  border-radius: 10px;
  



  font-feature-settings: 'clig' off, 'liga' off;
  font-family: Poppins;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%; /* 19.5px */


  min-width: 100px;
}

.btn-clipboard:hover,.btn-clipboard:focus {
  border: 1px solid;
  border-radius: 10px;
  border-color: #4D38FF;
}




.custom_page_header_bottom_margin {
  margin-bottom: 36px;
}
.custom_page_header_top_bottom_margin {
  margin-bottom: 36px;
  margin-top: 36px;
}


.custom_page_header_text {

  color: #4D38FF; 
  font-size: 35px; 
  font-family: Gabarito; 
  font-weight: 400; 
  line-height: 52px; word-wrap: break-word

}


.custom_login_header {
  color: #4D38FF; 
  text-align: center;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: Gabarito;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: 130%; /* 62.4px */

}




.custom_page_header_text_bold { 

  color: #4D38FF; 
  font-size: 35px; 
  font-family: Gabarito; 
  font-weight: 700; 
  line-height: 52px; 
  word-wrap: break-word

}


a.disabled {
  /* Make the disabled links grayish*/
  color: gray;
  /* And disable the pointer events */
  pointer-events: none;
}




.custom_right_side {
  background: #FFF;
  margin-left: 16px; 
  padding-left: 39px;
  padding-top: 22px; 
  padding-right: 78px; 
  padding-bottom: 55px; 
  overflow: overlay;
  min-width: 500px;
}


.custom_profile_avatar {

  width: 150px;
}

.custom_profile_full_name {
  color: black; 
  font-size: 40px; 
  font-family: Poppins; 
  font-weight: 400; 
  line-height: 52px; 
  word-wrap: break-word; 
  margin-left: 27px;
}



.custom_side_bar_database {
  padding-top: 31px;
  width: 206px !important;
  flex-shrink: 0;
  border-radius: 0px 10px 0px 0px;
  background: #FFF;
}


.custom_side_bar_nav_item_text_database {
  align-items: center;
  padding: 0;
  margin-left: 23px;

  display: flex;


  flex-shrink: 0;
  color: #4B4B4D;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: Poppins;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%; /* 19.5px */


  
}


.custom_side_bar_flex_column {
  width: 50px!important; 
  margin-left: 5px!important; 
  padding-top: 29px!important; 
  background: #F6F5FF;

}

.custom_side_bar_flex_column_nav_item {
  margin-top: 34px;
}

.custom_side_bar_flex_column_nav_item_left_image {
  width: 2px; 
  height: 24px; 
  margin-left: 6px;
}

.custom_side_bar_flex_column_nav_item_image {
  margin-left: 15.18px!important;
  width: 20px;
}
.custom_side_bar_flex_column_nav_item_image_active {
  margin-left: 7.18px!important;
  width: 20px;
}


.custom_side_bar_flex_column_nav_item_a {
  margin-left: 0px!important;
}
.custom_side_bar_flex_column_nav_item_down {
  margin-top: 16px;
}


.custom_side_bar_flex_column_nav_item_down_text {
  text-align: start; 
  color: rgba(0, 0, 0, 0.70); 
  font-size: 12px; 
  font-family: Poppins; 
  font-weight: 400; 
  line-height: 15.60px; 
  word-wrap: break-word; 
  margin-left: 12px; 
  margin-top: 8px;
}

.custom_side_bar_flex_column_nav_item_down_switch {
  margin-left: 18.18px!important;
  width: 15px;
}



.custom_body {
  background: #F6F5FF;
}


.custom_header_usage_text {
  color: rgba(0, 0, 0, 0.40); 
  font-size: 15px; 
  font-family: Poppins; 
  font-weight: 400; 
  line-height: 19.50px; 
  word-wrap: break-word

}

.custom_header_usage_text_highlight {
  color: #4D38FF; 
  font-size: 15px; 
  font-family: Poppins; 
  font-weight: 700; 
  line-height: 19.50px; 
  word-wrap: break-word

}

.custom_header_usage_bar {
  height: 6px; 
  width: 116px; 
}

.custom_header_usage_bar_amount {
  background: #4D38FF;
}



.custom_header_welcome_first {
  color: #4D38FF; 
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: Gabarito;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%; /* 46.8px */
}


.custom_header_welcome_second{
  color: #01EE8A; 
  font-size: 36px; 
  font-family: Gabarito; 
  font-weight: 400; 
  line-height: 46.80px; 
  word-wrap: break-word
}




.custom_header_logout_text {
  text-align: center; 
  color: #33363F; 
  font-size: 12px; 
  font-family: Poppins; 
  font-weight: 400; 
  line-height: 15.60px; 
  word-wrap: break-word
}




.custom_price_card {
  width: 263px;

  flex-shrink: 0;
  border-radius: 10px 10px 0px 0px;
  background: #F6F5FF;
  margin-right: 37px;
}

.custom_price_card_title {

  display: flex;

  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;

  color: #4D38FF;
  text-align: center;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: Gabarito;
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: 130%; /* 46.8px */

  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 31px;


  padding-top: 1.56rem;
}

.custom_price_card_content {


  height: 205px;
  flex-shrink: 0;

  color: #4A4A4D;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: Poppins;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%; /* 19.5px */

  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 30px;

}


.custom_price_card_bottom {
  width: 263px;
  height: 83px;
  flex-shrink: 0;
  background: #4D38FF;
  border-radius: 0px 0px 10px 10px;
  padding-top: 11px;

}


.custom_price_card_bottom_title {
  display: flex;
  width: 239px;
  height: 14px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;

  color: #FFF;
  text-align: center;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: Gabarito;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 130%; /* 26px */

}


.custom_price_card_bottom_button {
  width: 113px;
  height: 32px;
  flex-shrink: 0;
  border-radius: 5px;
  background: #01EE8A;

  margin-top: 18px;
}


.custom_price_card_bottom_button_text {

  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;

  color: #4D38FF;
  text-align: center;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: Gabarito;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 130%; /* 18.2px */

}




.custom_price_card_bottom_button_disabled {
  width: 113px;
  height: 32px;
  flex-shrink: 0;
  border-radius: 5px;
  background: #4D38FF;
  border: 0px solid #000;

  margin-top: 18px;
}
.custom_price_card_bottom_button_text_disabled {
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;

  color: #4D38FF;
  text-align: center;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: Gabarito;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 130%; /* 18.2px */


 


}


.custom_community_social_button {

  width: 378px;
  height: 58px;
  flex-shrink: 0;

  border-radius: 5px;
  border: 0px;
  background: #F6F5FF;  

  color: #101010;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 130%; /* 20.8px */

  margin-right: 33px;

  
}



.custom_price_card_top {
  width: 264px;
  height: 29px;
  flex-shrink: 0;
  border-radius: 10px;
  background: #4D38FF;


}


.custom_price_card_top_text {

  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;

  color: #FFF;
  text-align: center;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: Gabarito;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: 130%; /* 19.5px */


}


.custom_login_socials {
  width: 20px;
  margin-left: 27.68px;
}

.custom_login_card {


  flex-shrink: 0;


  border-radius: 31px;
  border: 2px solid rgba(77, 56, 255, 0.50);
  background: #F6F5FF;

  padding-bottom: 42px;
  padding-top: 35px;
  padding-left: 47px;
  padding-right: 47px;

  margin-left: 150px;
  margin-right: 150px;

}


.custom_card_header_bold { 
  color: #4D38FF; 
}




.custom_code_highlight_green {
  color: #01EE8A;
}








.side_bar_top {
  scale: 0.9;
}
.side_bar_bottom {
  scale: 0.9;
}



.cloud_left_section {
  scale: 0.95;
}




.custom_header_button{
  display: flex;
  width: 180px;
  height: 35px;

  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;  


  color: #FFF;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%; /* 18.2px */
}




.custom_card_section {
  width: 50%;
}


.navbar_logo {
  width: 25%;
}



body.with-cookie-bar {

  padding-top: 35px;
  
  }
  
  .cookie-bar {
  
    position: fixed;
    width: 100%;
    bottom: 0;
    text-align: center;
    height: 35px;
    line-height: 25px;
    border: 1px solid #2C2C2C;
    background: rgb(23 23 23);
  
  }