{% extends "base.html" %}


{% block content %}
<div class="w-100 custom_right_side">


    <div class="d-flex flex-column">
    <div class="custom_page_header_bottom_margin">
        <span class="custom_page_header_text"><span class="custom_page_header_text_bold">Active AI Tasks</span></span>
    </div>
    </div>

    <div class="d-flex flex-column scrollabe_righ_side">


    <table class="table">
        <thead>
        <tr>
            <th scope="col">Type</th>
            <th scope="col">Content</th>

        </tr>
        </thead>
        <tbody>
        {% for task in tasks %}
        <tr>
            <td>{{task.task_name}}</td>
            <td>{{task.key}}</td>

            
        </tr>
        {% endfor %}
        </tbody>
    </table>


    <div class="custom_page_header_top_bottom_margin">
        <span class="custom_page_header_text"><span class="custom_page_header_text_bold">Quick Ask&Answer</span></span>
    </div>
    <form method="POST" class="d-flex">
        {% csrf_token %}
        <div>
            <input type="text" id="ai_input" name="ai_input" required class="form-control me-2 search_bar">
        </div>
        <div>
            <button class="btn btn-outline-success ms-3" type="submit">Ask</button>
        </div>
    </form>

    {% if result %}
        <div class="mt-3">
            <strong>Result:</strong> {{ result }}
        </div>
    {% endif %}

</div>

</div>


{% endblock content %}