{% extends "base.html" %}

{% load tags %}

{% block content %}


      <div class="uk-container uk-width-expand uk-margin-medium-top uk-margin-medium-left scrollable_side" style="height: 100vh;">


        {% include 'notifications.html' %}

        <div uk-grid class="uk-margin-medium-bottom">
            <div class="uk-width-expand">
            <h1 class="uk-h2 uk-margin text-foreground">Logs of User: {{user.get_username}}</h1>
            </div>

        </div>
        <a href="#" onclick="page_load('{% url 'community' %}');event.preventDefault();" class="uk-button uk-button-default uk-margin-small-top uk-margin-small-bottom" ><span uk-icon="chevron-left" class="uk-margin-auto-right"></span> Back</a>
        

        <table class="uk-table uk-table-divider">
            <thead>
              <tr>
                <th class="">Time</th>
                <th class="">Event</th>
                <th class="">Target</th>
                <th class="">Detail</th>
          
              </tr>
            </thead>
            <tbody>
                {% for event in events %}
              <tr>
                <td class="text-foreground">{{event.time}}</td>
                <td class="text-foreground"><span class="uk-badge">{{event.event}}</span></td>
                <td class="text-foreground">{{event.target}}</td>
                <td class="text-foreground">{{event.detail}}</td>


          
              </tr>
              {% endfor %} 
            </tbody>
          </table>





</div>







{% endblock content %}

























