<!DOCTYPE html>
{% load static %}


{% load tags %}


<div id="this_url" style="display: none;">https://{{request.get_host}}:5001</div>


<html lang="en" data-bs-theme="dark">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{page_title}} - Upsonic</title>
    <link rel="icon" type="image/x-icon" href="/static/images/favicon.png">
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">

    <link href='/static/css/gabarito.css' rel='stylesheet' type='text/css'>
    <link href='/static/css/poppins.css' rel='stylesheet' type='text/css'>
    <link href='/static/css/site.css' rel='stylesheet' type='text/css'>
    <link href='/static/css/dark_mode.css' rel='stylesheet' type='text/css'>
    <link href="/static/css/bootstrap-icons.css" rel="stylesheet">

    {% include 'in_page_load.js.html' %}



</head>
<body class="custom_body">

{% include 'header.html' %}

<main class="d-flex flex-nowrap" id="the_content">

    {% include 'sidebar.html' %}


    {% block content %}{% endblock content %}

</main>

<iframe style="display: none;" name="transFrame" id="transFrame"></iframe>


{% include 'notifications.js.html' %}
<script src="/static/js/bootstrap.bundle.min.js"></script>
<script src="/static/js/popper.min.js"></script>
<script src="/static/js/site.js" id="script_tag"></script>


</body>
</html>