{% load tags %}

<div class=" uk-card uk-card-body uk-card-default" style="border-right-width: 1px;
border-color: hsl(var(--border) / .4);
border-radius: 0;
border-left: 0;
background-color: #000
height: 120vh;">


    <ul class="uk-nav-default" uk-nav>

        {% for library in libraries %}

      <li class="{% if top_control_library == library %}uk-active{% endif %}"><a href="#" onclick="page_load('{% url 'control_library' id=library %}');event.preventDefault();"><span
        class="uk-margin-small-right"
        uk-icon="ratio: 0.8; icon: table"
      ></span>{{ library }}</a></li>

      {% endfor %}

    </ul>
  </div>
