{% load tags %}

<div class="d-flex flex-column flex-shrink-0 cloud_side"
     style="width: 20vh;margin-right: 0!important;margin-bottom: 24px!important;overflow: overlay;">


    <ul class="nav nav-pills flex-column mb-auto align-items-center">
        {% for library in libraries %}

        <li class="nav-item {% if top_control_library == library %}cloud_side_nav_item_active{% else %}cloud_side_nav_item{% endif %}">
            <a href="#" onclick="page_load('{% url 'control_library' id=library %}');event.preventDefault();"
               class="nav-link  {% if top_control_library == library %}cloud_side_nav_item_text_active{% else %}cloud_side_nav_item_text{% endif %}"
               aria-current="page">

                {% if top_control_library == library %}
                <img style="width: 20px; height: 14px;" src="/static/images/Cloud_alt_fill.png"/>
                {% else %}
                <img style="width: 20px; height: 14px;" src="/static/images/Cloud_alt.png"/>
                {% endif %}

                {{ library }}
            </a>
        </li>

        {% endfor %}
    </ul>





</div>

