{% extends "base.html" %}


{% block content %}
<div class="w-100 custom_right_side">

    <div class="custom_page_header_bottom_margin">
        <span class="custom_page_header_text"><span class="custom_page_header_text_bold">Thank</span> You!</span>
    </div>

    <div class="w-75 ms-5">
        <div class="custom_pharagraph_bottom_margin">We are developing the Cloud technologies of the future. In this
            process, having dynamic software developers like you among us gives us strength. We'd love to see you in our
            community.
        </div>
    </div>


    <div class="custom_page_header_bottom_margin">
        <span class="custom_page_header_text"><span class="custom_page_header_text_bold">Platforms</span></span>
    </div>


    <div class="d-flex flex-row mb-3" style="margin-left: 110px;">


        <a href="https://discord.gg/9xjtsnv5">
            <button type="button" class="btn btn-primary custom_community_social_button">
                <div class="d-flex flex-row align-items-center">
                    <img class="me-3" src="/static/images/discord.png">
                    Discord
                </div>
            </button>
        </a>


        <a href="https://github.com/Upsonic">
            <button type="button" class="btn btn-primary custom_community_social_button">
                <div class="d-flex flex-row align-items-center">
                    <img class="me-3" src="/static/images/github.png">
                    GitHub
                </div>
            </button>
        </a>

    </div>
    <div class="d-flex flex-row mb-3" style="margin-left: 110px;">


        <a href="https://x.com/getUpsonic">
            <button type="button" class="btn btn-primary custom_community_social_button">
                <div class="d-flex flex-row align-items-center">
                    <img class="me-3" src="/static/images/xcom.png">
                    X.com
                </div>
            </button>
        </a>


        <a href="https://www.instagram.com/getupsonic/">
            <button type="button" class="btn btn-primary custom_community_social_button">
                <div class="d-flex flex-row align-items-center">
                    <img class="me-3" src="/static/images/instagram.png">
                    Instagram
                </div>
            </button>
        </a>

    </div>

    <div class="d-flex flex-row mb-3" style="margin-left: 110px;">


        <a href="https://www.youtube.com/channel/UCdHsFV689DJC47G2WMIVT9Q">
            <button type="button" class="btn btn-primary custom_community_social_button">
                <div class="d-flex flex-row align-items-center">
                    <img class="me-3" src="/static/images/youtube.png">
                    Youtube
                </div>
            </button>
        </a>


    </div>


</div>

{% endblock content %}