{% extends "base.html" %}


{% block content %}
<div class="w-100 custom_right_side">


    <div class="d-flex flex-column">
    <div class="custom_page_header_bottom_margin">
        <a href="#" class="back_a" onclick="page_load('{% url 'community' %}');event.preventDefault();">< </a>
        <span class="custom_page_header_text"><span class="custom_page_header_text_bold">User {{user.username}}</span></span>
    </div>



    </div>




     <div class="d-flex flex-column scrollabe_righ_side">

        <div class="custom_page_header_top_bottom_margin">
            <span class="custom_page_header_text"><span class="custom_page_header_text_bold">Controls</span></span>
        </div>
    
        <div class="d-flex ">
        {% if is_enabled %}
        <a class="btn btn-lg custom_button" href="#" onclick="page_load('{% url 'disable_user' id=user.id %}');event.preventDefault();">Disable</a>
        {% else %}
        <a class="btn btn-lg custom_button" href="#" onclick="page_load('{% url 'enable_user' id=user.id %}');event.preventDefault();">Enable</a>
        {% endif %}
        
        {% if is_admin %}
        <a class="btn btn-lg custom_button" href="#" onclick="page_load('{% url 'disable_admin' id=user.id %}');event.preventDefault();">Unset Admin</a>
        {% else %}
        <a class="btn btn-lg custom_button" href="#" onclick="page_load('{% url 'enable_admin' id=user.id %}');event.preventDefault();">Set Admin</a>
        {% endif %}
    
        <a class="btn btn-lg custom_button_red" href="#" onclick="page_load('{% url 'delete_user' id=user.id %}');event.preventDefault();">Delete</a>
        </div>
    


    <div class="custom_code_block mt-5">
        Access Key
            <div class="custom_code_block_code">
                <div class="highlight"><pre class="chroma"><code class="language-html" data-lang="html">{{user.access_key}}</code></pre></div>
            </div>
        </div>


      <form method="post" id="save" style="margin-top: 69px;">
        <div class="row">
        {% csrf_token %}
        <div class="col custom_form_col">
          <div class="custom_form_field_head">Name</div>
          {{ user_form.first_name }}

        </div>
        <div class="col custom_form_col">

          <div class="custom_form_field_head">Surname</div>
          {{ user_form.last_name }}
        </div>
      </div>
      <div class="row">
        <div class="col custom_form_col">
          <div class="custom_form_field_head">Username</div>
          {{ user_form.username }}

          </div>
        <div class="col custom_form_col">
          <div class="custom_form_field_head">Pass</div>
          {{ user_form.password }}

          </div>
        </div>

    </form>

    <button type="submit" form="save" class="btn btn-lg custom_button">Save</button>

    <div class="custom_page_header_top_bottom_margin">
        <span class="custom_page_header_text"><span class="custom_page_header_text_bold">Read Scopes</span></span>
    </div>

    <table class="table table-hover align-middle library_table">
        <thead>
            <tr style="
            border-bottom-color: #01EE8D;
        ">
            <th scope="col">Name</th>
            <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for scope in read_scopes %}
        <tr>
            <td>{{scope}}</td>
            <td>
                <a href="#"
                   onclick="page_load('{% url 'delete_read_scope' id=user.id scope=scope %}');event.preventDefault();">Delete</a>
            </td>
            {% endfor %}
        </tr>
        </tbody>
    </table>

    <form method="post" action="{% url 'add_read_scope' id=user.id %}" id="add_read_scope"
          style="margin-top: 69px;">
        <div class="row">
            {% csrf_token %}
            <div class="col custom_form_col">
                <div class="custom_form_field_head">Add Read Scope</div>
                <input type="text" name="scope" class="form-control" id="scope" placeholder="Scope" required>
            </div>
        </div>
    </form>
    <button type="submit" form="add_read_scope" class="btn btn-lg custom_button">Add</button>


    <div class="custom_page_header_top_bottom_margin">
        <span class="custom_page_header_text"><span class="custom_page_header_text_bold">Write Scopes</span></span>
    </div>

    <table class="table table-hover align-middle library_table">
        <thead>
            <tr style="
            border-bottom-color: #01EE8D;
        ">
            <th scope="col">Name</th>
            <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for scope in write_scopes %}
        <tr>
            <td>{{scope}}</td>
            <td>
                <a href="#"
                   onclick="page_load('{% url 'delete_write_scope' id=user.id scope=scope %}');event.preventDefault();">Delete</a>
            </td>
            {% endfor %}
        </tr>
        </tbody>
    </table>


    <form method="post" action="{% url 'add_write_scope' id=user.id %}" id="add_write_scope"
          style="margin-top: 69px;">
        <div class="row">
            {% csrf_token %}
            <div class="col custom_form_col">
                <div class="custom_form_field_head">Add Write Scope</div>
                <input type="text" name="scope" class="form-control" id="scope" placeholder="Scope" required>
            </div>
        </div>
    </form>
    <button type="submit" form="add_write_scope" class="btn btn-lg custom_button">Add</button>




</div>
</div>


{% endblock content %}