{% extends "base.html" %}

{% load tags %}

{% block content %}
<div uk-grid class="bg-background">

    <div class="uk-width-auto uk-background-default  " style="border-right-width: 1px;
    border-color: hsl(var(--border) / .4);" uk-height-viewport="offset-top: true">



        <ul class="uk-flex uk-nav uk-height-1-1 uk-nav-default uk-iconnav-outline  uk-margin-small-left uk-margin-small-right " uk-nav style="flex-direction: column;">


          <h2 class="uk-margin-small-left uk-margin-small-top mb-2 px-3 text-lg font-semibold tracking-tight uk-h4 text-foreground">Discover</h2>
          <li class="uk-active uk-margin-small-left uk-margin-small-top uk-margin-small-right ">

            <button class="uk-button active uk-button-default uk-width-1-1 " style="  display: flex;
            align-items: center;
            justify-content: flex-start; /* Align items to the left */">
              <span uk-icon="home" class="uk-margin-small-right uk-icon"></span>
              Home
            </button>

          </li>

          <li class="uk-margin-small-left uk-margin-small-top uk-margin-small-right">


            <button class="uk-button active uk-button-default uk-width-1-1 " style="  display: flex;
            align-items: center;
            justify-content: flex-start; /* Align items to the left */">
              <span uk-icon="database" class="uk-margin-small-right uk-icon"></span>
              Libraries
            </button>


          </li>


          <li class="uk-margin-small-left uk-margin-small-top uk-margin-small-right">

            <button class="uk-button active uk-button-default uk-width-1-1 " style="  display: flex;
            align-items: center;
            justify-content: flex-start; /* Align items to the left */">
              <span uk-icon="search" class="uk-margin-small-right uk-icon"></span>
              AI Search
            </button>


            
          </li>

          <li class="uk-margin-small-left uk-margin-small-top uk-margin-small-right">

            <button class="uk-button active uk-button-default uk-width-1-1 " style="  display: flex;
            align-items: center;
            justify-content: flex-start; /* Align items to the left */">
              <span uk-icon="commenting" class="uk-margin-small-right uk-icon"></span>
              Chat AI
            </button>


            
          </li>

          <h2 class="uk-margin-small-left uk-margin-medium-top mb-2 px-3 text-lg font-semibold tracking-tight uk-h4 text-foreground">Analyze</h2>

          <li class="uk-margin-small-left uk-margin-small-top uk-margin-small-right">

            <button class="uk-button active uk-button-default uk-width-1-1 " style="  display: flex;
            align-items: center;
            justify-content: flex-start; /* Align items to the left */">
              <span uk-icon="git-branch" class="uk-margin-small-right uk-icon"></span>
              Pull Requests
            </button>


            
          </li>

          <li class="uk-margin-small-left uk-margin-small-top uk-margin-small-right">

            <button class="uk-button active uk-button-default uk-width-1-1 " style="  display: flex;
            align-items: center;
            justify-content: flex-start; /* Align items to the left */">
              <span uk-icon="server" class="uk-margin-small-right uk-icon"></span>
              Run History
            </button>


            
          </li>

          <li class="uk-margin-small-left uk-margin-small-top uk-margin-small-right">

            <button class="uk-button active uk-button-default uk-width-1-1 " style="  display: flex;
            align-items: center;
            justify-content: flex-start; /* Align items to the left */">
              <span uk-icon="thumbnails" class="uk-margin-small-right uk-icon"></span>
              Dependencies
            </button>


            
          </li>



          <h2 class="uk-margin-small-left uk-margin-medium-top mb-2 px-3 text-lg font-semibold tracking-tight uk-h4 text-foreground">System</h2>


          <li class="uk-margin-small-left uk-margin-small-top uk-margin-small-right">

            <button class="uk-button active uk-button-default uk-width-1-1 " style="  display: flex;
            align-items: center;
            justify-content: flex-start; /* Align items to the left */">
              <span uk-icon="users" class="uk-margin-small-right uk-icon"></span>
              Users
            </button>
            <li class="uk-margin-small-left uk-margin-small-top uk-margin-small-right">

              <button class="uk-button active uk-button-default uk-width-1-1 " style="  display: flex;
              align-items: center;
              justify-content: flex-start; /* Align items to the left */">
                <span uk-icon="clock" class="uk-margin-small-right uk-icon"></span>
                AI Tasks
              </button>
  
  
              
            </li>


            
          </li>


          <hr style="margin-top: auto;" class="uk-divider-icon" />

          <li class=" uk-margin-small-top uk-margin-small-right uk-margin-small-left uk-margin-small-bottom">

            <button class="uk-button uk-button-default"><span uk-icon="settings"></span></button>

            <button id="theme-toggle" class="uk-button uk-button-default "><span uk-icon="eye"></span></button>

            <button id="theme-toggle" class="uk-button uk-button-default "><span uk-icon="chevron-double-left"></span></button>

            <script>
              var themeToggleBtn = document.getElementById("theme-toggle");
             
              themeToggleBtn.addEventListener("click", function () {
                // if set via local storage previously
                if (localStorage.getItem("color-theme")) {
                  if (localStorage.getItem("color-theme") === "light") {
                    document.documentElement.classList.add("dark");
                    localStorage.setItem("color-theme", "dark");
                  } else {
                    document.documentElement.classList.remove("dark");
                    localStorage.setItem("color-theme", "light");
                  }
             
                  // if NOT set via local storage previously
                } else {
                  if (document.documentElement.classList.contains("dark")) {
                    document.documentElement.classList.remove("dark");
                    localStorage.setItem("color-theme", "light");
                  } else {
                    document.documentElement.classList.add("dark");
                    localStorage.setItem("color-theme", "dark");
                  }
                }
              });
            </script>


          </li>

        </ul>

        
      </div>


      <div class="uk-container uk-width-expand uk-margin-medium-top uk-margin-medium-left">
        <div uk-grid class="uk-margin-medium-bottom">
            <div class="uk-width-expand">
            <h1 class="uk-h2 uk-margin text-foreground">Your Libraries</h1>
            </div>
            <div class="uk-width-auto">
            <ul class="uk-tab-alt ml-auto max-w-40"> <li class="uk-active" uk-filter-control="filter: .tag-mail"> <a href="#" role="button">Card</a> </li> <li uk-filter-control="filter: .tag-unread"> <a href="#" role="button">Table</a> </li> </ul>
            </div>  
        </div>

        <div class="uk-flex">
        <div class="uk-width-1-5 uk-card uk-margin-medium-right">
            <div class="uk-card-header">
              <div class="uk-flex">
                <div>
                  <h3 class="uk-card-title text-foreground">Database Connections</h3>
                  <p class="uk-margin-small-top uk-text-small text-muted-foreground">
                    Connect to SQL Lite db for user datas.
                  </p>
                </div>
                <div class="flex items-center space-x-2 uk-margin-auto-left">
                  <input
                    class="uk-toggle-switch uk-toggle-switch-primary"
                    checked
                    id="toggle-switch"
                    type="checkbox"
                  />                
                </div>
              </div>

            </div>

           
            <div class="uk-card-footer uk-flex uk-flex-between">
              
              <button class="uk-button uk-button-primary ">Use <span class="uk-margin-small-left" uk-drop-parent-icon></span
                ></button>
                <button class="uk-button uk-button-default">Status</button>

               
            </div>
          </div>
          <div class="uk-width-1-5 uk-card uk-margin-medium-right">
            <div class="uk-card-header">
              <div class="uk-flex">
                <div>
                  <h3 class="uk-card-title text-foreground">Logging</h3>
                  <p class="uk-margin-small-top uk-text-small text-muted-foreground">
                    Observability tools for data transformations process.
                  </p>
                </div>
                <div class="flex items-center space-x-2 uk-margin-auto-left">
                  <input
                    class="uk-toggle-switch uk-toggle-switch-primary"
                    checked
                    id="toggle-switch"
                    type="checkbox"
                  />                
                </div>
              </div>

            </div>

           
            <div class="uk-card-footer uk-flex uk-flex-between">
              
              <button class="uk-button uk-button-primary ">Use <span class="uk-margin-small-left" uk-drop-parent-icon></span
                ></button>
                <button class="uk-button uk-button-default">Status</button>

               
            </div>
          </div>
          <div class="uk-width-1-5 uk-card uk-margin-medium-right">
            <div class="uk-card-header">
              <div class="uk-flex">
                <div>
                  <h3 class="uk-card-title text-foreground">Cyber Security</h3>
                  <p class="uk-margin-small-top uk-text-small text-muted-foreground">
                    Neeeded encoding and decoding systems.
                  </p>
                </div>
                <div class="flex items-center space-x-2 uk-margin-auto-left">
                  <input
                    class="uk-toggle-switch uk-toggle-switch-primary"
                    checked
                    id="toggle-switch"
                    type="checkbox"
                  />                
                </div>
              </div>

            </div>

           
            <div class="uk-card-footer uk-flex uk-flex-between">
              
              <button class="uk-button uk-button-primary ">Use <span class="uk-margin-small-left" uk-drop-parent-icon></span
                ></button>
                <button class="uk-button uk-button-default">Status</button>

               
            </div>
          </div>
          <div class="uk-width-1-5 uk-card uk-margin-medium-right">
            <div class="uk-card-header">
              <div class="uk-flex">
                <div>
                  <h3 class="uk-card-title text-foreground">Utils</h3>
                  <p class="uk-margin-small-top uk-text-small text-muted-foreground">
                    String and integer value edit and manipulation functions.
                  </p>
                </div>
                <div class="flex items-center space-x-2 uk-margin-auto-left">
                  <input
                    class="uk-toggle-switch uk-toggle-switch-primary"
                    checked
                    id="toggle-switch"
                    type="checkbox"
                  />                
                </div>
              </div>

            </div>

           
            <div class="uk-card-footer uk-flex uk-flex-between">
              
              <button class="uk-button uk-button-primary ">Use <span class="uk-margin-small-left" uk-drop-parent-icon></span
                ></button>
                <button class="uk-button uk-button-default">Status</button>

               
            </div>
          </div>                         
        </div>
          <div uk-grid class="uk-margin-medium-bottom uk-margin-large-top">
            <div class="uk-width-expand">
            <h1 class="uk-h2 uk-margin text-foreground">Connection Code</h1>
            </div>

        </div>

        <style>
.custom_code_block {

border-radius: 10px;

padding-top: 19px;
padding-bottom: 19px;
padding-left: 25px;
padding-right: 25px;
margin-top: 25px;



}

.custom_code_block_code {
color: #4B4B4D;
font-feature-settings: 'clig' off, 'liga' off;
font-family: Poppins;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 130%; /* 20.8px */


}
[data-bs-theme=dark] .custom_code_block {


  }

  [data-bs-theme=dark] .custom_code_block_code {

    color: #E5E2FF;
  }


  .bd-clipboard {
  position: relative;
  display: none;
  float: right
}

.bd-clipboard+.highlight {
  margin-top: 0
}

@media (min-width: 768px) {
  .bd-clipboard {
      display:block
  }
}


.btn-clipboard {
    /* position: absolute; */
    top: -.65rem;
    right: -.65rem;
    z-index: 10;
    display: block;
    padding: .25rem .5rem;
    font-size: .65em;
    color: #4D38FF;
    background-color: #F6F5FF;
    border: 0px solid;
    border-radius: 10px;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Poppins;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    /* min-width: 100px; */
}
.btn-clipboard-img {
    width: 20px;

}

.btn-clipboard:hover,.btn-clipboard:focus {
  border: 1px solid;
  border-radius: 10px;
  border-color: #4D38FF;
}


[data-bs-theme=dark] .btn-clipboard {
    background-color: #1E1E1F;
    color: #B6B3B3;
  }


          </style>

        <div class="custom_code_block uk-card">
          <div class="custom_code_block_code">
<div class="highlight"><pre class="chroma"><pre><code class="language-python">{{the_connection_code}}</code></pre></div>
          </div>
      </div>



</div>



</div>



{% endblock content %}