{% extends "landing_base.html" %}


{% block content %}


<div class="container-fluid landing_first" style="height: 1000px;">


    {% include 'landing_nav.html' %}


    <div class="d-flex flex-column lign-items-start second_content" style="margin-bottom: 0px!important;">

        <div class="d-flex justify-content-center" style="margin-top: 2.5rem;">
            <h1 class="third_content_h1">{{page.title}}</h1>
        </div>


        <div class="d-flex justify-content-center " style="margin-top: 2.5rem;text-align: justify;">
            <p style="width: 80%;">{{page.content}}</p>
        </div>


    </div>


</div>


{% endblock content %}