<script>

    function create_post() {
      console.log("create post is working!") // sanity check
      console.log($('#email_form').val())
      $.ajax({
          url : "{%  url 'signup_mail_list' %}", // the endpoint
          type : "POST", // http method
          data : {'csrfmiddlewaretoken': $("input[name=csrfmiddlewaretoken]").val(), 'email' : $("input[name=email]").val() }, // data sent with the post request

          // handle a successful response
          success : function(json) {
              $('#the_mail_section').html(json.message)
              console.log(json); // log the returned json to the console
              console.log("success"); // another sanity check
          },

          // handle a non-successful response
          error : function(xhr,errmsg,err) {
              $('#the_mail_section').html("<div class='alert-box alert radius' data-alert>Oops! We have encountered an error: "+errmsg+
                  " <a href='#' class='close'>&times;</a></div>"); // add the error to the dom
              console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
          }
      });
  };



    $('#email_form').on('submit', function(event){
      event.preventDefault();
      console.log("form submitted!")  // sanity check
      create_post();
    });

</script>