<div class="toast-container position-fixed bottom-0 end-0 p-3 me-4" id="toast-containter">


</div>


<script>

    url = "{% url 'notifications' %}"
    read_url = "{% url 'notification_read_id' %}"



    // add a toast to the toast container


    // toast generator function

    function toast_generator(id, title, message, important, tour_number) {
        original_id = id

        
        the_toast_header = `
        <div id="`+id+`" class="toast `+tour_number+`" role="alert" aria-live="assertive" aria-atomic="true" data-bs-autohide="true" data-bs-delay="4000">
        `

        if (important) {
            the_toast_header = `
            <div id="`+id+`" class="toast `+tour_number+`" role="alert" aria-live="assertive" aria-atomic="true" data-bs-autohide="false">
            `
        }

        the_toast = the_toast_header +`

            <div class="toast-header">
                <strong class="me-auto">`+title+`</strong>
                <button type="button" class="btn-close" id="`+id+`_close" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
            <div class="toast-body">
                `+message+`
            </div>
        </div>

        `
        // check the id if not there is an already existing toast with the same id dont add it
        if (document.getElementById(id) == null) {
           
            
            toast_container = document.getElementById('toast-containter')
            toast_container.innerHTML =  toast_container.innerHTML + the_toast
            

            document.getElementById(id+'_close').addEventListener('click', function() {
                request_url = read_url + original_id 
             
                fetch(request_url)

            })



        }

    }





    // get the notifications from the server
    function get_notifications() {
        tour_number = Math.floor(Math.random() * 1000)
        fetch(url)
        .then(response => response.json())
        .then(data => {
            
            if (data.length > 0) {
                for (var i = 0; i < data.length; i++) {
                    
                    toast_generator(data[i].id, data[i].title, data[i].message, data[i].important, tour_number)
                    //wait for 1 second

                }
            }
        }).finally(response =>{
            var toastElList = [].slice 
                    .call(document.querySelectorAll('.toast')); 

            // Remove the toast element that have hide class
            var toastElList = toastElList.filter(function(toastEl) { 
                return !toastEl.classList.contains('hide') 
            })

           // Remove the toast element that have hide class
            var toastElList = toastElList.filter(function(toastEl) { 
                return toastEl.classList.contains(tour_number) 
            })            

            var toastList = toastElList.map(function (toastEl) { 
                    return new bootstrap.Toast(toastEl) 
                }) 
            toastList.forEach(toast => toast.show()) 
        }
        )


        

    }


    // run the function every 5 seconds
    setInterval(get_notifications, 5000)


</script>