{% extends "landing_base.html" %}


{% block content %}


<div class="container-fluid landing_first">


    {% include 'landing_nav.html' %}


    <div class="d-flex flex-column lign-items-start second_content" id="pricing" style="margin-bottom: 0px!important;">

        <div class="d-flex justify-content-center" style="margin-top: 2.5rem;">
            <h1 class="third_content_h1">Pricing</h1>
        </div>


        <div class="d-flex justify-content-center use_case_section" ,
             style="margin-left: 80px;margin-right: 80px;margin-top: 2.12rem; scale:0.9;">


            <div class="pricing_card">
                <div class="d-flex justify-content-center" style="height: 100px;">

                    <h3 class="pricing_card_h3">FREE</h3>
                </div>
                <p class="pricing_card_p">Perfect for passion projects.<img src="/static/images/barrier.svg"></p>
                <h4 class="pricing_card_h4">$0 <br>
                    <p class="pricing_card_p_small">/month</p></h4>
                <p class="pricing_card_p"><img src="/static/images/barrier.svg">Get started with:</p>

                <div class="pricing_card_p_list">
                    <p class="element"><img src="/static/images/ok.svg"><b>2 database</b> included<br></p>
                    <p class="element"><img src="/static/images/ok.svg"><b>100 key</b> totaly<br></p>
                    <p class="element"><img src="/static/images/ok.svg"><b>1 runner</b> included<br></p>
                    <p class="element"><img src="/static/images/ok.svg"><b>50 request</b> per minute<br></p>
                    <p class="element"><img src="/static/images/ok.svg"><b>3000 request</b> per hour<br></p>
                    <p class="element"><img src="/static/images/ok.svg"><b>5000 byte value size</b> included<br></p>

                    <p class="element"><img src="/static/images/ok.svg"><b>Typa A</b> Runner<br></p>
                    <p class="element"><img src="/static/images/ok.svg"><b>Limited Usage</b> for Runner<br></p>
                    <p class="element"><img src="/static/images/ok.svg"><b>1 Hour</b> for Runner<br></p>
                    <p class="element"><img src="/static/images/ok.svg"><b>0.3 cpu</b> of runner<br></p>
                    <p class="element"><img src="/static/images/ok.svg"><b>300mb memory</b> of runner<br></p>
                    <p class="element"><img src="/static/images/ok.svg"><b>10 mb disk</b> for runner<br></p>
                    <p class="element"><img src="/static/images/ok.svg"><b>1024 byte</b> bandwith for runner<br></p>

                </div>
                <img src="/static/images/barrier.svg">
                <a href="https://app.upsonic.co/add">
                    <button class="btn pricing_card_button">Get Started</button>
                </a>

            </div>


            <div class="pricing_card">
                <div class="d-flex justify-content-center" style="height: 100px;">

                    <h3 class="pricing_card_h3">PRO</h3>
                </div>
                <p class="pricing_card_p">For individual developers.<img src="/static/images/barrier.svg"></p>
                <h4 class="pricing_card_h4">$37 <br>
                    <p class="pricing_card_p_small">/month</p></h4>
                <p class="pricing_card_p"><img src="/static/images/barrier.svg">Get started with:</p>

                <div class="pricing_card_p_list">
                    <p class="element"><img src="/static/images/ok.svg"><b>15 database</b> included<br></p>
                    <p class="element"><img src="/static/images/ok.svg"><b>1000 key</b> totaly<br></p>
                    <p class="element"><img src="/static/images/ok.svg"><b>1 runner</b> included<br></p>
                    <p class="element"><img src="/static/images/ok.svg"><b>150 request</b> per minute<br></p>
                    <p class="element"><img src="/static/images/ok.svg"><b>9000 request</b> per hour<br></p>
                    <p class="element"><img src="/static/images/ok.svg"><b>10000 byte value size</b> included<br></p>

                    <p class="element"><img src="/static/images/ok.svg"><b>Typa A</b> Runner<br></p>
                    <p class="element"><img src="/static/images/ok.svg"><b>Unlimited Usage</b> for Runner<br></p>
                    <p class="element"><img src="/static/images/ok.svg"><b>Unlimited Hour</b> for Runner<br></p>
                    <p class="element"><img src="/static/images/ok.svg"><b>0.3 cpu</b> of runner<br></p>
                    <p class="element"><img src="/static/images/ok.svg"><b>300mb memory</b> of runner<br></p>
                    <p class="element"><img src="/static/images/ok.svg"><b>10 mb disk</b> for runner<br></p>
                    <p class="element"><img src="/static/images/ok.svg"><b>1024 byte</b> bandwith for runner<br></p>

                </div>
                <img src="/static/images/barrier.svg">
                <a href="https://app.upsonic.co/add">
                    <button class="btn pricing_card_button">Get Started</button>
                </a>

            </div>


            <div class="pricing_card">
                <div class="d-flex justify-content-center" style="height: 100px;">

                    <h3 class="pricing_card_h3">PREMIUM</h3>
                </div>
                <p class="pricing_card_p">Full-fit for dev teams.<img src="/static/images/barrier.svg"></p>
                <h4 class="pricing_card_h4">$94 <br>
                    <p class="pricing_card_p_small">/month</p></h4>
                <p class="pricing_card_p"><img src="/static/images/barrier.svg">Get started with:</p>

                <div class="pricing_card_p_list">
                    <p class="element"><img src="/static/images/ok.svg"><b>30 database</b> included<br></p>
                    <p class="element"><img src="/static/images/ok.svg"><b>2000 key</b> totaly<br></p>
                    <p class="element"><img src="/static/images/ok.svg"><b>5 runner</b> included<br></p>
                    <p class="element"><img src="/static/images/ok.svg"><b>300request</b> per minute<br></p>
                    <p class="element"><img src="/static/images/ok.svg"><b>18000 request</b> per hour<br></p>
                    <p class="element"><img src="/static/images/ok.svg"><b>10000 byte value size</b> included<br></p>

                    <p class="element"><img src="/static/images/ok.svg"><b>Typa A</b> Runner<br></p>
                    <p class="element"><img src="/static/images/ok.svg"><b>Unlimited Usage</b> for Runner<br></p>
                    <p class="element"><img src="/static/images/ok.svg"><b>Unlimited Hour</b> for Runner<br></p>
                    <p class="element"><img src="/static/images/ok.svg"><b>0.3 cpu</b> of runner<br></p>
                    <p class="element"><img src="/static/images/ok.svg"><b>300mb memory</b> of runner<br></p>
                    <p class="element"><img src="/static/images/ok.svg"><b>10 mb disk</b> for runner<br></p>
                    <p class="element"><img src="/static/images/ok.svg"><b>1024 byte</b> bandwith for runner<br></p>

                </div>
                <img src="/static/images/barrier.svg">
                <a href="https://app.upsonic.co/add">
                    <button class="btn pricing_card_button">Get Started</button>
                </a>

            </div>


            <div class="pricing_card">
                <div class="d-flex justify-content-center" style="height: 100px;">

                    <h3 class="pricing_card_h3">STARTUP</h3>
                </div>
                <p class="pricing_card_p">Full-fit for dev teams.<img src="/static/images/barrier.svg"></p>
                <h4 class="pricing_card_h4">$234 <br>
                    <p class="pricing_card_p_small">/month</p></h4>
                <p class="pricing_card_p"><img src="/static/images/barrier.svg">Get started with:</p>

                <div class="pricing_card_p_list">
                    <p class="element"><img src="/static/images/ok.svg"><b>70 database</b> included<br></p>
                    <p class="element"><img src="/static/images/ok.svg"><b>10000 key</b> totaly<br></p>
                    <p class="element"><img src="/static/images/ok.svg"><b>15 runner</b> included<br></p>
                    <p class="element"><img src="/static/images/ok.svg"><b>1000request</b> per minute<br></p>
                    <p class="element"><img src="/static/images/ok.svg"><b>60000 request</b> per hour<br></p>
                    <p class="element"><img src="/static/images/ok.svg"><b>20000 byte value size</b> included<br></p>

                    <p class="element"><img src="/static/images/ok.svg"><b>Typa A</b> Runner<br></p>
                    <p class="element"><img src="/static/images/ok.svg"><b>Unlimited Usage</b> for Runner<br></p>
                    <p class="element"><img src="/static/images/ok.svg"><b>Unlimited Hour</b> for Runner<br></p>
                    <p class="element"><img src="/static/images/ok.svg"><b>0.3 cpu</b> of runner<br></p>
                    <p class="element"><img src="/static/images/ok.svg"><b>300mb memory</b> of runner<br></p>
                    <p class="element"><img src="/static/images/ok.svg"><b>10 mb disk</b> for runner<br></p>
                    <p class="element"><img src="/static/images/ok.svg"><b>1024 byte</b> bandwith for runner<br></p>

                </div>
                <img src="/static/images/barrier.svg">
                <a href="https://app.upsonic.co/add">
                    <button class="btn pricing_card_button">Get Started</button>
                </a>

            </div>


        </div>


    </div>


</div>


{% endblock content %}