{% extends "base.html" %}


{% block content %}




<div class="w-100 custom_right_side">

    <form class="d-flex" role="search" action="{% url 'search' %}" method="post">
        <input class="form-control me-2 search_bar" type="search" placeholder="Search" aria-label="Search" name="question">
        Minumum Score: 
        <input class="form-control me-2 search_bar" placeholder="0.5" aria-label="Minumum Score" name="min_score" value="0.5">
        How Many Result: 
        <input class="form-control me-2 search_bar" placeholder="10" aria-label="How Many Result" name="how_many_result" value="10">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>



    {% if searched %}
    <div class="custom_page_header_top_bottom_margin">
        <span class="custom_page_header_text"><span class="custom_page_header_text_bold">Question: {{question}}</span></span>
        <div class="custom_pharagraph_for_documentations">Minumum Score: {{min_score}}</div>
        <div class="custom_pharagraph_for_documentations">How Many Result: {{how_many_result}}</div>
    </div>


    {% for result in results %}

    <div class="custom_page_header_top_margin">
        <span class="custom_page_header_text"><a href="{% url 'control_element' id=result.0 %}">{{result.0}}</a></span>
    </div>

    <div class="custom_pharagraph_for_documentations">{{result.1|safe}}</div>
    <div class="custom_pharagraph_for_documentations">Score: {{result.2}}</div>
    

    {% endfor %}


    {% endif %}


</div>


{% endblock content %}