{% extends "base.html" %}


{% block content %}




<div class="w-100 custom_right_side">


    <div class="d-flex flex-column">
      <form class="d-flex form-control search_bar" role="search" action="{% url 'search' %}" method="post">
        <img class="" src="/static/images/search.svg">        
        <input class=" me-2 ms-2" type="search" placeholder="Search" aria-label="Search" name="question" style="
    background-color: #0000;
    border: 0px;
    outline: 0px; width: 100%;" required>

      </form>

    </div>

      <div class="d-flex flex-column scrollabe_righ_side">

    {% if searched %}
    <div class="custom_page_header_top_bottom_margin">
        <span class="custom_page_header_text"><span class="custom_page_header_text_bold">Question: {{question}}</span></span>
        <div class="custom_pharagraph_for_documentations">Minumum Score: {{min_score}}</div>
        <div class="custom_pharagraph_for_documentations">How Many Result: {{how_many_result}}</div>
    </div>


    {% for result in results %}

    <div class="custom_page_header_top_margin">
        <span class="custom_page_header_text"><a href="{% url 'control_element' id=result.0 %}">{{result.0}}</a></span>
    </div>

    <div class="custom_pharagraph_for_documentations">{{result.1|safe}}</div>
    <div class="custom_pharagraph_for_documentations">Score: {{result.2}}</div>
    

    {% endfor %}


    {% endif %}

</div>
</div>


{% endblock content %}