{% load tags %}

<div class="d-flex flex-column flex-shrink-0 m-3 custom_side_bar_database justify-content-start custom_side_bar_flex_column">
    <ul class="nav nav-pills flex-column align-items-start side_bar_top">


        <li class="nav-item ">
            <a href="#" onclick="page_load('{% url 'home' %}');event.preventDefault();"
               class="nav-link custom_side_bar_nav_item_text_database align-items-center custom_side_bar_flex_column_nav_item_a"
               aria-current="page">
                {% if page_title == 'Home' %}
                <img class="custom_side_bar_flex_column_nav_item_left_image" src="/static/images/menu_active.png"/>
                {% endif %}
                <img class="{% if page_title != 'Home' %} custom_side_bar_flex_column_nav_item_image {% else %} custom_side_bar_flex_column_nav_item_image_active {% endif %}"
                     src="/static/images/home{% if page_title == 'Home' %}_fill_dark{% endif %}.svg"/>
            </a>
            <div class="custom_side_bar_flex_column_nav_item_down_text">Home</div>
        </li>


        <li class="nav-item custom_side_bar_flex_column_nav_item">
            <a href="#" onclick="page_load('{% url 'libraries' %}');event.preventDefault();"
               class="nav-link custom_side_bar_nav_item_text_database align-items-center custom_side_bar_flex_column_nav_item_a"
               aria-current="page">
                {% if page_title == 'Libraries' %}
                <img class="custom_side_bar_flex_column_nav_item_left_image" src="/static/images/menu_active.png"/>
                {% endif %}
                <img class="{% if page_title != 'Libraries' %} custom_side_bar_flex_column_nav_item_image {% else %} custom_side_bar_flex_column_nav_item_image_active {% endif %}"
                     src="/static/images/library{% if page_title == 'Libraries' %}_fill_dark{% endif %}.svg"/>
            </a>
            
            <div class="custom_side_bar_flex_column_nav_item_down_text">Libraries</div>
        </li>



        <li class="nav-item custom_side_bar_flex_column_nav_item">
            <a href="#" onclick="page_load('{% url 'search' %}');event.preventDefault();"
               class="nav-link custom_side_bar_nav_item_text_database align-items-center custom_side_bar_flex_column_nav_item_a"
               aria-current="page">
                {% if page_title == 'Search' %}
                <img class="custom_side_bar_flex_column_nav_item_left_image" src="/static/images/menu_active.png"/>
                {% endif %}
                <img class="{% if page_title != 'Search' %} custom_side_bar_flex_column_nav_item_image {% else %} custom_side_bar_flex_column_nav_item_image_active {% endif %}"
                     src="/static/images/search{% if page_title == 'Search' %}_fill_dark{% endif %}.svg"/>
            </a>
            
            <div class="custom_side_bar_flex_column_nav_item_down_text">Search</div>
        </li>

        <li class="nav-item custom_side_bar_flex_column_nav_item">
            <a href="#" onclick="page_load('{% url 'ai' %}');event.preventDefault();"
               class="nav-link custom_side_bar_nav_item_text_database align-items-center custom_side_bar_flex_column_nav_item_a"
               aria-current="page">
                {% if page_title == 'AI' %}
                <img class="custom_side_bar_flex_column_nav_item_left_image" src="/static/images/menu_active.png"/>
                {% endif %}
                <img class="{% if page_title != 'AI' %} custom_side_bar_flex_column_nav_item_image {% else %} custom_side_bar_flex_column_nav_item_image_active {% endif %}"
                     src="/static/images/ai{% if page_title == 'AI' %}_fill_dark{% endif %}.svg"/>
            </a>
            {% default_ai_model request as default_ai_model %}         
            <div class="custom_side_bar_flex_column_nav_item_down_text">{{default_ai_model}}</div>
        </li>



    </ul>


    <div class="mt-auto">


        <ul class="nav nav-pills nav-flush flex-column mb-auto text-center ms-auto side_bar_bottom">


            {% if request.user.is_admin %}
            <li class="nav-item custom_side_bar_flex_column_nav_item">
                <a href="#" onclick="page_load('{% url 'community' %}');event.preventDefault();"
               class="nav-link custom_side_bar_nav_item_text_database align-items-center custom_side_bar_flex_column_nav_item_a"
               aria-current="page">
                {% if page_title == 'Community' %}
                <img class="custom_side_bar_flex_column_nav_item_left_image" src="/static/images/menu_active.png"/>
                {% endif %}
                <img class="{% if page_title != 'Community' %} custom_side_bar_flex_column_nav_item_image {% else %} custom_side_bar_flex_column_nav_item_image_active {% endif %}"
                     src="/static/images/community{% if page_title == 'Community' %}_fill_dark{% endif %}.svg"/>
            </a>
                <div class="custom_side_bar_flex_column_nav_item_down_text">Users</div>
            </li>
            {% endif %}


           <li class="nav-item custom_side_bar_flex_column_nav_item">
                <a href="#" onclick="page_load('{% url 'profile' %}');event.preventDefault();"
               class="nav-link custom_side_bar_nav_item_text_database align-items-center custom_side_bar_flex_column_nav_item_a"
               aria-current="page">
                {% if page_title == 'Profile' %}
                <img class="custom_side_bar_flex_column_nav_item_left_image" src="/static/images/men u_active.png"/>
                {% endif %}
                <img class="{% if page_title != 'Profile' %} custom_side_bar_flex_column_nav_item_image {% else %} custom_side_bar_flex_column_nav_item_image_active {% endif %}"
                     src="/static/images/profile{% if page_title == 'Profile' %}_fill_dark{% endif %}.svg"/>
            </a>
                <div class="custom_side_bar_flex_column_nav_item_down_text">Profile</div>
            </li>

        </ul>
    </div>

</div>





