{% load tags %}



<div class="uk-width-auto uk-background-default  " style="border-right-width: 1px;
border-color: hsl(var(--border) / .4);" uk-height-viewport="offset-top: true">



    <ul class="uk-flex uk-nav uk-height-1-1 uk-nav-default uk-iconnav-outline  uk-margin-small-left uk-margin-small-right " uk-nav style="flex-direction: column;">


      <li class="uk-active uk-margin-small-left uk-margin-small-top uk-margin-small-right ">

        <button href="#" onclick="page_load('{% url 'home' %}');event.preventDefault();" class="uk-button  uk-button-{% if page_title != 'Home' %}ghost{% else %}primary{% endif %} uk-width-1-1 " style="  display: flex;
        align-items: center;
        justify-content: flex-start; /* Align items to the left */" >
          <span uk-icon="home" class="uk-margin-small-right uk-icon"></span>
          Home
      </button>

      </li>

      <li class="uk-margin-small-left uk-margin-small-top uk-margin-small-right">

        <button href="#" onclick="page_load('{% url 'libraries' %}');event.preventDefault();" class="uk-button  uk-button-{% if page_title != 'Libraries' %}ghost{% else %}primary{% endif %} uk-width-1-1 " style="  display: flex;
        align-items: center;
        justify-content: flex-start; /* Align items to the left */" >
          <span uk-icon="database" class="uk-margin-small-right uk-icon"></span>
          Libraries
      </button>


      </li>


      <li class="uk-margin-small-left uk-margin-small-top uk-margin-small-right">

        <button href="#" onclick="page_load('{% url 'search' %}');event.preventDefault();" class="uk-button active uk-button-{% if page_title != 'Search' %}ghost{% else %}primary{% endif %} uk-width-1-1 " style="  display: flex;
        align-items: center;
        justify-content: flex-start; /* Align items to the left */">
          <span uk-icon="search" class="uk-margin-small-right uk-icon"></span>
          AI Search
        </button>


        
      </li>





      <li class="uk-margin-small-left uk-margin-small-top uk-margin-small-right">

        <button href="#" onclick="page_load('{% url 'community' %}');event.preventDefault();" class="uk-button active uk-button-{% if page_title != 'Community' %}ghost{% else %}primary{% endif %} uk-width-1-1 " style="  display: flex;
        align-items: center;
        justify-content: flex-start; /* Align items to the left */">
          <span uk-icon="users" class="uk-margin-small-right uk-icon"></span>
          Users
        </button>


        
      </li>

      {% pages as pages %}
      {% pages_len as pages_len %}
      {% if pages_len != 0 %}
      <hr class="uk-divider-icon" />


      
      {% for page in pages %}
      


      <li class="uk-margin-small-left uk-margin-small-top uk-margin-small-right">

        <button href="#" onclick="page_load('/{{page}}');event.preventDefault();" class="uk-button active uk-button-ghost uk-width-1-1 " style="  display: flex;
        align-items: center;
        justify-content: flex-start; /* Align items to the left */">

          {{page}}
        </button>


        
      </li>

      {% endfor %}
      {% endif %}
      


      <hr style="margin-top: auto;" class="uk-divider-icon" />

      <li class=" uk-margin-small-top uk-margin-small-right uk-margin-small-left uk-margin-small-bottom">

        <a href="#" onclick="page_load('{% url 'profile' %}');event.preventDefault();" class="uk-button uk-button-{% if page_title != 'Profile' %}ghost{% else %}primary{% endif %}" style="display: inline-grid;" uk-tooltip="Profile"><span uk-icon="user"></span></a>
        {% if request.user.dark_mode %}
        <a href="{% url 'settings_light_mode' %}" style="display: inline-grid;" class="uk-button uk-button-default " uk-tooltip="Light">
        
          <svg
          id="theme-toggle-light-icon"
          xmlns="http://www.w3.org/2000/svg"
          width="20"
          height="20"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="lucide lucide-sun dark:hidden"
        >
          <circle cx="12" cy="12" r="4"></circle>
          <path d="M12 2v2"></path>
          <path d="M12 20v2"></path>
          <path d="m4.93 4.93 1.41 1.41"></path>
          <path d="m17.66 17.66 1.41 1.41"></path>
          <path d="M2 12h2"></path>
          <path d="M20 12h2"></path>
          <path d="m6.34 17.66-1.41 1.41"></path>
          <path d="m19.07 4.93-1.41 1.41"></path>
        </svg>
      
        </a>
        {% else %}
        <a href="{% url 'settings_dark_mode' %}" style="display: inline-grid;" class="uk-button uk-button-default " uk-tooltip="Dark Mode">
          <svg
    id="theme-toggle-dark-icon"
    xmlns="http://www.w3.org/2000/svg"
    width="20"
    height="20"
    viewBox="0 0 24 24"
    fill="none"
    stroke="currentColor"
    stroke-width="2"
    stroke-linecap="round"
    stroke-linejoin="round"
    class="lucide lucide-moon hidden dark:block"
  >
    <path d="M12 3a6 6 0 0 0 9 9 9 9 0 1 1-9-9Z"></path>
  </svg>
        </a>
        {% endif %}





        <a href="{% url 'account_logout' %}" class="uk-button uk-button-default " style="display: inline-grid;" uk-tooltip="Logout"><span uk-icon="sign-out"></span></a>


      </li>

    </ul>

    
  </div>




















