{% load tags %}

<div class="d-flex flex-column flex-shrink-0 m-3 custom_side_bar_database justify-content-start custom_side_bar_flex_column">
    <ul class="nav nav-pills flex-column align-items-start side_bar_top">


        <li class="nav-item ">
            <a href="#" onclick="page_load('{% url 'home' %}');event.preventDefault();"
               class="nav-link custom_side_bar_nav_item_text_database align-items-center custom_side_bar_flex_column_nav_item_a"
               aria-current="page">
                {% if page_title == 'Home' %}
                <img class="custom_side_bar_flex_column_nav_item_left_image" src="/static/images/menu_active.png"/>
                {% endif %}
                <img class="{% if page_title != 'Home' %} custom_side_bar_flex_column_nav_item_image {% else %} custom_side_bar_flex_column_nav_item_image_active {% endif %}"
                     src="/static/images/home{% if page_title == 'Home' %}_fill_dark{% endif %}.svg"/>
            </a>
        </li>


        <li class="nav-item custom_side_bar_flex_column_nav_item">
            <a href="#" onclick="page_load('{% url 'home' %}');event.preventDefault();"
               class="nav-link custom_side_bar_nav_item_text_database align-items-center custom_side_bar_flex_column_nav_item_a"
               aria-current="page">
                {% if page_title == 'Cloud' %}
                <img class="custom_side_bar_flex_column_nav_item_left_image" src="/static/images/menu_active.png"/>
                {% endif %}
                <img class="{% if page_title != 'Cloud' %} custom_side_bar_flex_column_nav_item_image {% else %} custom_side_bar_flex_column_nav_item_image_active {% endif %}"
                     src="/static/images/Cloud_alt{% if page_title == 'Cloud' %}_fill{%if request.user.dark_mode%}_dark{%endif%}{% endif %}.svg"/>
            </a>
        </li>


        <li class="nav-item custom_side_bar_flex_column_nav_item">
            <a href="#" onclick="page_load('{% url 'home' %}');event.preventDefault();"
               class="nav-link custom_side_bar_nav_item_text_database align-items-center custom_side_bar_flex_column_nav_item_a"
               aria-current="page">
                {% if page_title == 'Add' %}
                <img class="custom_side_bar_flex_column_nav_item_left_image" src="/static/images/menu_active.png"/>
                {% endif %}
                <img class="{% if page_title != 'Add' %} custom_side_bar_flex_column_nav_item_image {% else %} custom_side_bar_flex_column_nav_item_image_active {% endif %}"
                     src="/static/images/card{% if page_title == 'Add' %}_fill{%if request.user.dark_mode%}_dark{%endif%}{% endif %}.svg"/>
            </a>
        </li>


        <li class="nav-item custom_side_bar_flex_column_nav_item">
            <a href="#" onclick="page_load('{% url 'home' %}');event.preventDefault();"
               class="nav-link custom_side_bar_nav_item_text_database align-items-center custom_side_bar_flex_column_nav_item_a"
               aria-current="page">
                {% if page_title == 'Community' %}
                <img class="custom_side_bar_flex_column_nav_item_left_image" src="/static/images/menu_active.png"/>
                {% endif %}
                <img class="{% if page_title != 'Community' %} custom_side_bar_flex_column_nav_item_image {% else %} custom_side_bar_flex_column_nav_item_image_active {% endif %}"
                     src="/static/images/community{% if page_title == 'Community' %}_fill{%if request.user.dark_mode%}_dark{%endif%}{% endif %}.svg"/>
            </a>
        </li>


        <li class="nav-item custom_side_bar_flex_column_nav_item">
            <a href="#" onclick="page_load('{% url 'home' %}');event.preventDefault();"
               class="nav-link custom_side_bar_nav_item_text_database align-items-center custom_side_bar_flex_column_nav_item_a"
               aria-current="page">
                {% if page_title == 'Profile' %}
                <img class="custom_side_bar_flex_column_nav_item_left_image" src="/static/images/menu_active.png"/>
                {% endif %}
                <img class="{% if page_title != 'Profile' %} custom_side_bar_flex_column_nav_item_image {% else %} custom_side_bar_flex_column_nav_item_image_active {% endif %}"
                     src="/static/images/settings{% if page_title == 'Profile' %}_fill{%if request.user.dark_mode%}_dark{%endif%}{% endif %}.svg"/>
            </a>
        </li>


    </ul>


    <div class="mt-auto">


        <ul class="nav nav-pills nav-flush flex-column mb-auto text-center ms-auto side_bar_bottom">


            <li class="nav-item custom_side_bar_flex_column_nav_item_down">
                <a href="#" onclick="page_load('{% url 'home' %}');event.preventDefault();"
                   class="nav-link custom_side_bar_nav_item_text_database align-items-center custom_side_bar_flex_column_nav_item_a"
                   aria-current="page">
                    {% if page_title == 'Bugs' %}
                    <img class="custom_side_bar_flex_column_nav_item_left_image" src="/static/images/menu_active.png"/>
                    {% endif %}
                    <img class="{% if page_title != 'Bugs' %} custom_side_bar_flex_column_nav_item_image {% else %} custom_side_bar_flex_column_nav_item_image_active {% endif %}"
                         src="/static/images/bug{% if page_title == 'Bugs' %}_fill{%if request.user.dark_mode%}_dark{%endif%}{% endif %}.svg"/>
                </a>
                <div class="custom_side_bar_flex_column_nav_item_down_text">Bugs</div>
            </li>


            <li class="nav-item custom_side_bar_flex_column_nav_item_down">


                <a href="#" onclick="page_load('{% url 'home' %}');event.preventDefault();"
                   class="nav-link custom_side_bar_nav_item_text_database align-items-center custom_side_bar_flex_column_nav_item_a"
                   aria-current="page">
                    {% if page_title == 'Help' %}
                    <img class="custom_side_bar_flex_column_nav_item_left_image" src="/static/images/menu_active.png"/>
                    {% endif %}
                    <img class="{% if page_title != 'Help' %} custom_side_bar_flex_column_nav_item_image {% else %} custom_side_bar_flex_column_nav_item_image_active {% endif %}"
                         src="/static/images/question{% if page_title == 'Help' %}_fill{%if request.user.dark_mode%}_dark{%endif%}{% endif %}.svg"/>
                </a>
                <div class="custom_side_bar_flex_column_nav_item_down_text">Help</div>
            </li>


        </ul>
    </div>

</div>





